@use '../../../stylesheets/utilities' as sass;


.artdv-anchor {
    text-decoration: none;
    text-transform: uppercase;
}

.artdv-contact-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: sass.$comp-padding-medium 0;
}

.artdv-contact-content {
    width: 100%;
    border: solid 1px var(--theme-body-text);

    margin: 25px 0;
    padding: calc(sass.$comp-padding-small / 2);
    width: sass.$contact-form-width;
    
    form {
        width: sass.$contact-form-width;
    }
}

.artdv-contact-button-wrapper {
    margin-top: calc(sass.$comp-padding-small / 2);
    width: 100%;
    display: flex;
    justify-content: center;
}

.artdv-readonly {
    color: sass.$color-dark-grey;
    opacity: 0.4;
}