<section class="artdv-contact">
    <header>
        <h1>{{'modules.contact.title' | translate}}</h1>
    </header>
    <div class="artdv-head-message">
        <p>
            {{'modules.contact.message' | translate}}
            <a
                class="artdv-nav-routes artdv-anchor"
                [attr.aria-disabled]="true"
                routerLink="/faq"
            >{{'common.navigation.faq' | translate}}</a>.
        </p>
    </div>
    <div class="artdv-contact-content-wrapper">
        <div class="artdv-contact-content">

            <form [formGroup]="contactForm">
                <div class="artdv-form-item artdv-form-multiple">
                    <artdv-selectinput
                        [ngStyle]="{'width': '50%'}"
                        [className]="'artdv-form-left-select'"
                        [placeholder]="('modules.contact.form.placeholders.subject' | translate) + '*'"
                        [formControl]="contactForm.get('subject') | controlCast"
                        [options]="subjectOptions"
                        [optionsTranslateRoot]="'shared.enum.contact-subject.'"
                        [fieldName]="'modules.contact.form.fieldNames.subject' | translate"
                        (byChange)="configRefNrByType(); configSubjectByChanges($event)"
                        [ngClass]="selectedParams['subject'] === subjectOptions.artOrder ||
                        selectedParams['subject'] === subjectOptions.specificInformation 
                        ? 'artdv-query-value artdv-readonly' 
                        : ''"
                    ></artdv-selectinput>
                    <artdv-textinput
                        [className]="'artdv-form-right'"
                        [placeholder]="(contactForm.get('subject')?.value === subjectOptions.generalRequest || 
                                        contactForm.get('subject')?.value === '') 
                                        ? '--' 
                                        : ('modules.contact.form.placeholders.referenceNr' | translate) + '*'"
                        [inputType]="'text'"
                        [ngStyle]="{'width': '50%'}"
                        [readonly]="readonly"
                        [ngClass]="hasReferenceFromParams 
                        ? 'artdv-query-value artdv-readonly' 
                        : (contactForm.get('subject')?.value === subjectOptions.generalRequest ||
                        contactForm.get('subject')?.value === '')
                        ? 'artdv-readonly'
                        : ''"
                        [formControl]="contactForm.get('referenceNr') | controlCast"
                        [fieldName]="'modules.contact.form.fieldNames.referenceNr' | translate"
                        (byChange)="configRefNrByChanges()"

                    ></artdv-textinput>
                </div>
                <div class="artdv-form-item" *ngIf="contactForm.get('subject')?.value === subjectOptions.artOrder && contactForm.get('price')?.value && contactForm.get('type')?.value && contactForm.get('referenceNr')?.value.length === 6">
                    <artdv-textinput
                        [ngClass]="'artdv-query-value artdv-readonly'"
                        [formControl]="contactForm.get('price') | controlCast"
                        [placeholder]="''"
                        [fieldName]="''"
                        [ngStyle]="{'width': '100%'}"
                    ></artdv-textinput>
                </div>
                <div class="artdv-form-item artdv-form-multiple">
                    <artdv-selectinput
                        *ngIf="hasValidReferenceNr"
                        [className]="'artdv-form-left-select'"
                        [ngStyle]="!hasValidReferenceNr ? {} : {'width': '40%'}"
                        [formControl]="contactForm.get('type') | controlCast"
                        [placeholder]="('modules.contact.form.placeholders.type' | translate) + '*'"
                        [options]="contactForm.get('subject')?.value === subjectOptions.artOrder && isOrigORPrint
                        ? artworkOptionsOrigORPrint
                        : contactForm.get('subject')?.value === subjectOptions.specificInformation &&
                        contactForm.get('type')?.value === artworkOptionsAll.handcraft
                        ? artworkOptionsHandcraftOnly
                        : contactForm.get('subject')?.value === subjectOptions.specificInformation &&
                        contactForm.get('type')?.value !== artworkOptionsAll.handcraft
                        ? artworkOptionsPaintingOnly
                        : artworkOptionsAll"
                        [optionsTranslateRoot]="'shared.enum.artwork-option.'"
                        [fieldName]="'modules.contact.form.fieldNames.type' | translate"
                        [ngClass]="contactForm.get('subject')?.value === subjectOptions.artOrder && isOrigORPrint
                                    ? 'artdv-query-value' 
                                    : contactForm.get('subject')?.value === subjectOptions.artOrder || (contactForm.get('subject')?.value === subjectOptions.specificInformation && hasPriceZero && contactForm.get('type')?.value !== artworkOptionsAll.originalORprint)
                                    ? 'artdv-query-value artdv-readonly'
                                    : ''"
                        (byChange)="configTypeByChanges($event)"
                    ></artdv-selectinput>
                    <artdv-textinput
                        [className]="hasValidReferenceNr ? 'artdv-form-right' : ''"
                        [ngStyle]="hasValidReferenceNr ? {'width': '60%'} : {'width': '100%'}"
                        [inputType]="'email'"
                        [placeholder]="('modules.contact.form.placeholders.email' | translate) + '*'"
                        [formControl]="contactForm.get('email') | controlCast"
                        [readonly]="false"
                        [fieldName]="'modules.contact.form.fieldNames.email' | translate"
                    ></artdv-textinput>
                </div>
                <div class="artdv-form-item artdv-form-multiple">
                    <artdv-selectinput
                        [className]="'artdv-form-left-select'"
                        [ngStyle]="{'width': '40%'}"
                        [formControl]="contactForm.get('honorifics') | controlCast"
                        [placeholder]="('modules.contact.form.placeholders.honorifics' | translate) + '*'"
                        [options]="['Mr', 'Ms']"
                        [optionsTranslateRoot]="'shared.enum.honorifics-option.'"
                        [fieldName]="'modules.contact.form.fieldNames.honorifics' | translate"
                    ></artdv-selectinput>
                    <artdv-textinput
                        [className]="'artdv-form-right'"
                        [ngStyle]="{'width': '60%'}"
                        [placeholder]="'modules.contact.form.placeholders.title' | translate"
                        [inputType]="'text'"
                        [formControl]="contactForm.get('title') | controlCast"
                        [fieldName]="'modules.contact.form.fieldNames.title' | translate"
                    ></artdv-textinput>
                </div>          
                <div class="artdv-form-item artdv-form-multiple">
                    <artdv-textinput
                        [ngStyle]="{'width': '50%'}"
                        [className]="'artdv-form-left'"
                        [inputType]="'text'"
                        [placeholder]="('modules.contact.form.placeholders.firstName' | translate) + '*'"
                        [formControl]="contactForm.get('firstName') | controlCast"
                        [fieldName]="'modules.contact.form.fieldNames.firstName' | translate"
                        ></artdv-textinput>
                        <artdv-textinput
                        [ngStyle]="{'width': '50%'}"
                        [className]="'artdv-form-right'"
                        [inputType]="'text'"
                        [placeholder]="('modules.contact.form.placeholders.lastName' | translate) + '*'"
                        [formControl]="contactForm.get('lastName') | controlCast"
                        [fieldName]="'modules.contact.form.fieldNames.lastName' | translate"
                    ></artdv-textinput>
                </div>
                <div class="artdv-form-item">
                    <artdv-textareainput
                        [ngStyle]="{'width': '100%'}"
                        [placeholder]="('modules.contact.form.placeholders.message' | translate) + '*'"
                        [formControl]="contactForm.get('message') | controlCast"
                        [fieldName]="'modules.contact.form.fieldNames.message' | translate"
                        [rows]="6"
                    ></artdv-textareainput>
                </div>
            </form>
            <div class="artdv-contact-button-wrapper">
                <button 
                    type="submit"
                    class="artdv-button-submit"                    
                    (click)="onSubmit()"
                    #submitButton
                >{{'modules.contact.form.button' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="artdv-loading-animation" [ngClass]="(isLoadingResponse) ? 'artdv-visible' : 'artdv-hidden'">
        <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</section>
