<section class="artdv-imprint artdv-scroll">
    <header>
        <h1>{{'modules.imprint.title' | translate}}</h1>
    </header>
    <div class="artdv-imprint-content">
        <div class="artdv-imprint-hint">
            <span>
                {{'imprint-content.content.data-open-source.warning' | translate}}
            </span>
        </div>
        <h3>
            {{'imprint-content.headers.open-source' | translate}}
        </h3>
        <div class="artdv-imprint-content-p">
            <span>
                {{('imprint-content.content.data-open-source.project' | translate) + devData.project}}
            </span>
            <span>
                {{devData.version}}
            </span>
            <span>
                <a class="artdv-anchor" href="{{devData.github}}" target="_blank">GitHub repository</a>
            </span>
            <span>
                <a class="artdv-anchor" href="{{devData.portfolio}}" target="_blank">{{devData.portfolio}}</a>
            </span>
            <span>
                <a class="artdv-anchor" href="mailto:{{devData.email}}">{{devData.email}}</a>
            </span>
            <span>
                {{'imprint-content.content.data-open-source.address' | translate}}
            </span>
        </div>

        <h3>
            {{'imprint-content.headers.owner' | translate}}
        </h3>
        <div class="artdv-imprint-content-p">
            <span>
                {{ownerData.name}}
            </span>
            <span>
                {{ownerData.address}}
            </span>
            <span>
                <a class="artdv-anchor" href="tel:{{ownerData.phone}}">{{ownerData.phone}}</a>
            </span>
            <span>
                <a class="artdv-anchor" href="mailto:{{ownerData.email}}">{{ownerData.email}}</a>
            </span>
        </div>

        <h3 id="dispute">
            {{'imprint-content.headers.dispute' | translate}}
        </h3>
        <div class="artdv-imprint-content-p">
            <span class="artdv-imprint-content-break">
                {{'imprint-content.content.data-dispute1' | translate}}
                <a class="artdv-anchor" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="follow noopener">LINK</a>
                {{'imprint-content.content.data-dispute2' | translate}}
            </span>
            <span>
                {{'imprint-content.content.data-dispute3' | translate}}
            </span>
        </div>

        <h3 id="liability-content">
            {{'imprint-content.headers.liability-content' | translate}}
        </h3>
        <div class="artdv-imprint-content-p">
            <span class="artdv-imprint-content-break">
                {{'imprint-content.content.data-liability-content1' | translate}}
            </span>
            <span>
                {{'imprint-content.content.data-liability-content2' | translate}}
            </span>
        </div>

        <h3 id="liability-links">
            {{'imprint-content.headers.liability-links' | translate}}
        </h3>
        <div class="artdv-imprint-content-p">
            <span class="artdv-imprint-content-break">
                {{'imprint-content.content.data-liability-links1' | translate}}
            </span>
            <span>
                {{'imprint-content.content.data-liability-links2' | translate}}
            </span>
        </div>

        <h3 id="copyright">
            {{'imprint-content.headers.copyright' | translate}}
        </h3>
        <div class="artdv-imprint-content-p">
            <span class="artdv-imprint-content-break">
                {{'imprint-content.content.data-copyright1' | translate}}
            </span>
            <span>
                {{'imprint-content.content.data-copyright2' | translate}}
            </span>
        </div>
    </div>
</section>