<section *agalVar="(artworkData$ | async) as artworkDataArray">
    <div class="agal-header">
        <h1>Contact me</h1>
    </div>
    <div class="agal-head-message">
        <p>
            Most common questions are listed and answered in the 
            <a
                class="agal-nav-routes agal-anchor"
                [attr.aria-disabled]="true"
                routerLink="/faq"
            >FAQ</a>.
        </p>
    </div>
    <div class="agal-contact-content-wrapper">
        <div class="agal-contact-content">

            <form [formGroup]="contactForm">
                <div class="agal-form-item agal-form-multiple">
                    <agal-selectinput
                        [ngStyle]="{'width': '50%'}"
                        [className]="'agal-form-left-select'"
                        [placeholder]="'select subject*'"
                        [formControl]="contactForm.get('subject') | controlCast"
                        [options]="subjectOptions"
                        [fieldName]="'Subject'"
                    ></agal-selectinput>
                    <agal-textinput
                        [className]="'agal-form-right'"
                        [placeholder]="'ReferenceNr'"
                        [inputType]="'text'"
                        [ngStyle]="{'width': '50%'}"
                        [readonly]="readonly"
                        [ngClass]="hasReferenceFromParams ? 'agal-query-value agal-readonly' : ''"
                        [formControl]="contactForm.get('referenceNr') | controlCast"
                        [fieldName]="'ReferenceNr'"
                    ></agal-textinput>
                </div>
                <div class="agal-form-item agal-form-multiple">
                    <agal-selectinput
                        *ngIf="hasValidReferenceNr"
                        [className]="'agal-form-left-select'"
                        [ngStyle]="!hasValidReferenceNr ? {} : {'width': '40%'}"
                        [formControl]="contactForm.get('type') | controlCast"
                        [placeholder]="'select type'"
                        [options]="artworkOptions"
                        [fieldName]="'Type'"
                    ></agal-selectinput>
                    <agal-textinput
                        [className]="hasValidReferenceNr ? 'agal-form-right' : ''"
                        [ngStyle]="hasValidReferenceNr ? {'width': '60%'} : {'width': '100%'}"
                        [inputType]="'email'"
                        [placeholder]="'Email*'"
                        [formControl]="contactForm.get('email') | controlCast"
                        [readonly]="false"
                        [fieldName]="'Email'"
                    ></agal-textinput>
                </div>
                <div class="agal-form-item agal-form-multiple">
                    <agal-selectinput
                        [className]="'agal-form-left-select'"
                        [ngStyle]="{'width': '40%'}"
                        [formControl]="contactForm.get('honorifics') | controlCast"
                        [placeholder]="'select honorifics*'"
                        [options]="['Mr', 'Ms']"
                        [fieldName]="'Honorifics'"
                    ></agal-selectinput>
                    <agal-textinput
                        [className]="'agal-form-right'"
                        [ngStyle]="{'width': '60%'}"
                        [placeholder]="'Academic title'"
                        [inputType]="'text'"
                        [formControl]="contactForm.get('title') | controlCast"
                        [fieldName]="'Title'"
                    ></agal-textinput>
                </div>          
                <div class="agal-form-item agal-form-multiple">
                    <agal-textinput
                        [ngStyle]="{'width': '50%'}"
                        [className]="'agal-form-left'"
                        [inputType]="'text'"
                        [placeholder]="'Firstname*'"
                        [formControl]="contactForm.get('firstName') | controlCast"
                        [fieldName]="'Firstname'"
                        ></agal-textinput>
                        <agal-textinput
                        [ngStyle]="{'width': '50%'}"
                        [className]="'agal-form-right'"
                        [inputType]="'text'"
                        [placeholder]="'Lastname*'"
                        [formControl]="contactForm.get('lastName') | controlCast"
                        [fieldName]="'Lastname'"
                    ></agal-textinput>
                </div>
                <div class="agal-form-item">
                    <agal-textareainput
                        [ngStyle]="{'width': '100%'}"
                        [placeholder]="'Message*'"
                        [formControl]="contactForm.get('message') | controlCast"
                        [fieldName]="'Message'"
                        [rows]="6"
                    ></agal-textareainput>
                </div>
            </form>
            <div class="agal-contact-button-wrapper">
                <button 
                    type="submit"
                    class="agal-button-submit"                    
                    (click)="onSubmit()"
                >SEND</button>
            </div>
        </div>
    </div>
</section>
