@use '../../../stylesheets/utilities' as sass;


.artdv-about-content {
    display: flex;
    flex-direction: row;
}

.artdv-about-image {
    display: flex;
    justify-content: center;
    width: 50%;
}

#img1 {
    img {
        width: 100%;
        object-fit: contain;
    }
}

#img2 {
    justify-content: center;
    img {
        max-width: 100%;
        object-fit: cover;
        margin: sass.$comp-padding-small 0;
    }
} 

.artdv-about-text1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 50%;

    p {
        width: 100%;
        align-content: center;
    }
}

.artdv-about-text2 {
    align-self: center;
}

.artdv-about-additional {
    display: flex;
    justify-content: center;
    text-align: justify;
}
