// TODO(yqni13): remove if not used
@use '../../../stylesheets/utilities' as sass;


.agal-about-content {
    display: flex;
    flex-direction: row;

    .agal-about-image {
        display: flex;
        justify-content: center;
        margin: 100px 0;
        img {
            width: calc(100% - 400px);

        }
    }
    
    .agal-about-text {
        display: flex;
        justify-content: center;
        text-align: justify;
        width: 50%;

        p {
            margin: 100px 0;
            width: calc(100% - 200px);
            align-content: center;
        }
    }
}

.agal-about-additional {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 100px;

    p {
        width: calc(100% - 400px);
    }
}
