<ng-container *agalVar="ngControl as control">
    <div class="agal-validation-errors" *ngIf="control.invalid && (control.dirty || control.touched)">
        <div *ngIf="control.hasError('required')">
            Field '{{fieldName}}' is required.
        </div>
        <div *ngIf="control.hasError('email')">
            Field '{{fieldName}}' has invalid format.
        </div>
        <div *ngIf="control.hasError('invalidRefNr')">
            {{fieldName}} '{{control.value}}' does not exist.
        </div>
        <div *ngIf="control.hasError('invalidRefNrLength')">
            Field '{{fieldName}}' must be 6 characters.
        </div>
    </div>
</ng-container>