/* custom device sizes */
$device-desktop-xk: 1440px;
$device-tablet-landscape: 1024px;
$device-phone-landscape: 768px;
$device-phone-portrait: 500px;
$device-small-any: 400px;


/* custom colors */
$color-ice-white: #f0f8ff;
$color-rich-black: #020d19;
$color-deep-blue: #011222;
$color-contrast-dark: #071c2fd3;
$color-snackbar-bg: #323232;
$color-fullscale-bg: #181818;

$color-validation-red: #ea2222;
$color-accept-green: #209720;
$color-gold-yellow: #ffd500;
$color-ocean-blue: #0000cc;
$color-nature-green: #116600;
$color-smalt-blue: #1a383e;
$color-light-grey: #7e7e7e;
$color-dark-grey: #333;
$color-grey-label: #9898989f;

$color-route-dark: #ab5f28e6;
$color-route-light: #e69900;

$color-forest-green: #002B33;
$color-midnight-green: #01353f;
$color-eggshell-white: #fae3b9de;


/* custom definitions */
$color-signature-white: invert(100%) sepia(59%) saturate(5190%) hue-rotate(179deg) brightness(107%) contrast(107%);

/* IMPORTANT! <select> uses padding-left: 4px intern (don't know yet to change that) */
$select-intern-leftpadding: 4px;
/* DO NOT CHANGE! this is used to balance! */


$top-reset-size: 20px;

$font-text-size: clamp(16px, 1.2vw, 25px);
$font-text-family: "Montserrat", sans-serif;

$home-news-header-size: clamp(20px, 2.3vw, 38px);
$home-news-content-size: clamp(12px, 1.6vw, 24px);
$home-arrow-size: 30px;

$contact-input-margin: 5px;
$contact-form-width: 400px;

$archive-wrapper-margin: 20px;
$archive-text-padding: 20px;

$space5: 5px;
$space15: 15px;
$space25: 25px;
$space50: 50px;
$space100: 100px;
$comp-padding-small: 25px;
$comp-padding-medium: 50px;
$comp-padding-big: 100px;
$comp-form-padding: 5px;
$comp-margin-h1: 50px;

$form-divider-margin: 2.5px;
$select-symbol-balance: 1px;
$text-input-balance: 12px;

/* use padding variables to highlight relation to used padding values in divs */
$faq-box-height: calc($comp-padding-small * 2);


/* snackbar color definitions */
$color-lightmode-error: #b01515;
$color-darkmode-error: #d62323;

$color-lightmode-info: #384bfbe6;
$color-darkmode-info: #235cb1;

$color-lightmode-success: #5ecb5e;
$color-darkmode-success: #116600;

$color-lightmode-warning: #e69900;
$color-darkmode-warning: #ab5f28e6;


@font-face {
    font-family: 'Custom-RonySiswadi';
    src: url('/fonts/ronysiswadi/RonysiswadiArchitect6-X3V9G.ttf') format('truetype');
}