@use '../stylesheets/utilities' as sass;


.artdv-form-item {
    margin: sass.$contact-input-margin 0;
    display: flex;
}

.artdv-form-multiple {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;

    .artdv-form-left {
        margin-right: sass.$form-divider-margin!important;
    }
    .artdv-form-left-select {
        margin-right: calc(sass.$form-divider-margin - 1px)!important;
    }

    // together to adapt calculating width as last-right form element
    .artdv-form-right,
    .artdv-form-right-select {
        margin-left: sass.$form-divider-margin!important;
    }
}