@use '../stylesheets/utilities' as sass;


/* prevent printing webpage */
@media print {
    html, body {
        display: none;
    }
}

// width > 1440px
@media screen and (width >= sass.$device-desktop-xk) {
    section {
        $navbar-border: 2px;
        width: calc(100% - var(--view-nav-width) - $navbar-border);
        margin: 0 0 0 calc(var(--view-nav-width) + $navbar-border);
    }

    .artdv-author {
        width: calc(100% - var(--view-nav-width));
    }

    .artdv-about {
        p {
            margin: 0 15%;
        }
        .artdv-about-content {
            .artdv-about-indented {
                margin: 0 sass.$space50;
            }
            #artdv-about-part1 {
                flex-direction: row;
                margin-bottom: sass.$space50;
                #artdv-about-image1 {
                    #artdv-about-image1-wrapper {
                        height: fit-content;
                        img {
                            width: 400px;
                        }
                    }
                }
                #artdv-about-part1-text {
                    align-self: center;
                    flex-direction: column;
                }
            }
            #artdv-about-part2 {
                flex-direction: row;
                margin-bottom: sass.$space50;
                #artdv-about-part2-text {
                    align-self: center;
                }
                #artdv-about-image2 {
                    height: fit-content;
                    img {
                        width: 700px;
                    }
                }
            }
            #artdv-about-part3 {
                height: 100vh;
                #artdv-about-part3-text {
                    p {
                        top: 33%;
                        width: 470px;
                        padding: sass.$space25 sass.$space15;
                        $img-width-gap: 137px;
                        left: calc((100vw - 1440px) / 2 + $img-width-gap);
                        font-style: italic;
                    }
                }
            }
        }
    }

    .artdv-home {
        header {
            background-position: 50%;
        }
    }

    .artdv-admin {
        .artdv-admin-content {
            flex-direction: row;

            .triple-outer {
                width: 33%;
            }

            .triple-inner {
                width: 34%;
            }

            .artdv-admin-option {
                .artdv-author {
                    width: calc(33% - (var(--view-nav-width) / 3));
                }
            }
        }
    }

    .artdv-admingallerydetail,
    .artdv-adminnewsdetail {
        form {
            width: calc(60vw - var(--view-nav-width));
            .artdv-admin-specific-detail-form {
                .artdv-admin-specific-detail-form-wrapper {
                    width: 70%;
                }
            } artdv-imgupload {
                width: 70%;
            }
        }
    }

    .artdv-adminnewslist,
    .artdv-admingallerylist {
        .artdv-admin-specific-list-filterbar {
            flex-direction: row;
            .artdv-admin-specific-list-select-wrapper {
                width: 250px;
            }
            .artdv-admin-specific-list-search-wrapper {
                min-width: 400px;
                width: 20%;
            }
        }

        .artdv-admin-specific-list-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admin-specific-list-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space15;
                width: calc(((100vw - var(--view-nav-width) - 2px - ($margin-list * 2)) / 4) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-content {
            margin: calc(sass.$comp-padding-medium + sass.$comp-padding-small) 0!important;
        }
        // TODO(yqni13): adapt responsive design for width > 1800px
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: 80%!important;

            .artdv-gallerydetails-img-wrapper {
                border-width: 15px;
                top: 20%;
            }
        }
        .artdv-gallerydetails-divider {
            width: 45%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: 60%;
            max-width: 700px;
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-big;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2);
            img {
                max-width: 350px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-login {
        .artdv-author {
            bottom: 0;
        }
    }

    .artdv-imprint {
        .artdv-imprint-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .artdv-prints {
        .artdv-prints-overview {
            width: 50%;
            p {
                font-size: 18px;
            }
        }
        .artdv-prints-content {
            .artdv-prints-block {
                width: 66%;
                max-width: 1000px;
                margin: 0 0 sass.$space50 0;
                .artdv-prints-block-content {
                    p,
                    li {
                        font-size: 16px;
                    }
                }
                .artdv-prints-canvas-img {
                    width: 66%;
                    max-width: 800px;
                    img {
                        height: 250px;
                    }
                    .artdv-prints-img-label-bottom {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .artdv-shipping {
        .artdv-shipping-block {
            h2 {
                margin: 0 0 sass.$space50 0;
            }
        }
        .artdv-shipping-block-content {
            flex-direction: row;
            $shipping-padding: sass.$space15;
            .artdv-shipping-container {
                img {
                    height: 175px;
                }
            }
            .artdv-shipping-single {
                width: calc(50% - ($shipping-padding * 2));
            }
            .artdv-shipping-double {
                width: calc(35% - ($shipping-padding * 2));
            }
            .artdv-shipping-triple {
                width: calc(33% - ($shipping-padding * 2));
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-big 0;
        }
    }
    
    .artdv-nav-bar {
        height: 100vh;
        width: var(--view-nav-width);
        border-right: solid 2px var(--theme-nav-border);
        border-bottom: none;
        
        ul {
            flex-direction: column;
            padding: sass.$comp-padding-small 0;

            li {
                padding: calc(sass.$comp-padding-small / 2) 0;
            }
        }
    }

    footer {
        margin: 0 0 0 var(--view-nav-width);
        width: calc(100% - var(--view-nav-width));

        .artdv-footer-credits {

            h3 {
                margin: 10px 0;
                font-size: 33px;
                padding-left: sass.$comp-padding-big;
            }
            a {
                padding-left: calc(sass.$comp-padding-big + 3.5px);
            }
            i {
                top: 4px;
                left: sass.$comp-padding-big;
                width: 18px;
                aspect-ratio: 1 / 1;
            }
        }

        .artdv-footer-links {

            h4,
            a,
            span {
                font-size: sass.$font-text-size;
            }

            i {
                width: clamp(19px, 1.3vw, 23px);
            }
        }
    }

    @media screen and (height > 1000px) {
        .artdv-admin {
            .artdv-admin-content {
                flex-direction: column;

                .triple-outer,
                .triple-inner {
                    width: 100%;
                    border: none;

                    .artdv-admin-option-description {
                        padding: calc(sass.$space25 + sass.$space5)!important;
                        .artdv-anchor {
                            font-size: 34px;
                        }
                    }
                }
                
                .artdv-admin-option {
                    
                    .artdv-author {
                        width: calc(100% - var(--view-nav-width));
                        a {
                            font-size: 22px!important;
                        }
                    }
                }
            }
        }
        .artdv-gallerydetails {
            .artdv-gallerydetails-img-wrapper {
                top: 20%;
            }
        }
    }

    @media screen and (height <= 600px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                .artdv-gallerydetails-img-wrapper {
                    top: 17%;
                    border-width: 10px;
                }
            }
        }
    }
}

// 1024px > width < 1440px
@media screen and (width <= sass.$device-desktop-xk) {
    section {
        width: calc(100% - var(--view-nav-width));
        margin: 0 0 0 var(--view-nav-width);
    }

    .artdv-author {
        width: calc(100% - var(--view-nav-width));
    }

    .artdv-about {
        p {
            margin: 0 5%;
        }
        .artdv-about-content {
            .artdv-about-indented {
                margin: 0 sass.$space50;
            }
            #artdv-about-part1 {
                flex-direction: row;
                margin-bottom: sass.$space50;
                #artdv-about-image1 {
                    #artdv-about-image1-wrapper {
                        height: fit-content;
                        img {
                            width: 300px;
                        }
                    }
                }
                #artdv-about-part1-text {
                    margin-top: calc(sass.$space5 - 2px); // at same height as img
                    align-self: start;
                    flex-direction: column;
                }
            }
            #artdv-about-part2 {
                flex-direction: row;
                margin-bottom: sass.$space50;
                #artdv-about-part2-text {
                    margin-top: calc(sass.$space5 - 2px); // at same height as img
                    align-self: start;
                }
                #artdv-about-image2 {
                    height: fit-content;
                    img {
                        width: 450px;
                    }
                }
            }
            #artdv-about-part3 {
                height: 90vh;
                #artdv-about-part3-text {
                    p {
                        top: 33%;
                        max-width: 470px;
                        width: 29vw;
                        padding: sass.$space25 sass.$space15;
                        left: calc(25vw - var(--view-nav-width));
                        font-style: italic;
                    }
                }
            }
        }
    }

    .artdv-home {
        header {
            background-position: 27.5%;
        }
    }

    .artdv-admin {
        .artdv-admin-content {
            flex-direction: row;

            .triple-outer {
                width: 33%;
            }

            .triple-inner {
                width: 34%;
            }

            .artdv-admin-option {

                .artdv-author {
                    width: calc(33% - (var(--view-nav-width) / 3));
                }
            }
        }
    }

    .artdv-admingallerydetail,
    .artdv-adminnewsdetail {
        form {
            width: calc(70vw - var(--view-nav-width));
            min-width: 700px;
            .artdv-admin-specific-detail-form {
                .artdv-admin-specific-detail-form-wrapper {
                    width: 70%;
                }
            }
            artdv-imgupload {
                width: 70%;
            }
        }
    }

    .artdv-adminnewslist,
    .artdv-admingallerylist {
        .artdv-admin-specific-list-filterbar {
            flex-direction: row;
            .artdv-admin-specific-list-select-wrapper {
                width: 200px;
            }
            .artdv-admin-specific-list-search-wrapper {
                min-width: 300px;
                width: 20%;
            }
        }
        .artdv-admin-specific-list-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admin-specific-list-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - var(--view-nav-width) - 2px - ($margin-list * 2)) / 4) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-content {
            margin: sass.$comp-padding-medium 0!important;
        }
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: 80%!important;

            .artdv-gallerydetails-img-wrapper {
                border-width: 15px;
            }
        }
        .artdv-gallerydetails-divider {
            width: 55%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: 60vw;
            max-width: 700px;
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-medium;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2);
            img {
                max-width: 300px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-login {
        .artdv-author {
            bottom: 0;
        }
    }

    .artdv-imprint {
        .artdv-imprint-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .artdv-prints {
        .artdv-prints-overview {
            $padding: sass.$space25;
            $border: 3px;
            width: calc(66% - ($padding * 2) - ($border * 2));
            p {
                font-size: 18px;
            }
        }
        .artdv-prints-content {
            .artdv-prints-block {
                width: 66%;
                margin: 0 0 sass.$space50 0;
                .artdv-prints-block-content {
                    p,
                    li {
                        font-size: 16px;
                    }
                }
                .artdv-prints-canvas-img {
                    width: 90%;
                    max-width: 600px;
                    img {
                        height: 250px;
                    }
                    .artdv-prints-img-label-bottom {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .artdv-shipping {
        .artdv-shipping-block {
            h2 {
                margin: 0 0 sass.$space50 0;
            }
        }
        .artdv-shipping-block-content {
            flex-direction: row;
            $shipping-padding: sass.$space15;
            .artdv-shipping-container {
                img {
                    height: 150px;
                }
            }
            .artdv-shipping-single {
                width: calc(60% - ($shipping-padding * 2));
            }
            .artdv-shipping-double {
                width: calc(45% - ($shipping-padding * 2));
            }
            .artdv-shipping-triple {
                width: calc(33% - ($shipping-padding * 2));
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-medium 0;
        }
    }

    .artdv-nav-bar {
        height: 100vh;
        width: var(--view-nav-width);
        border-right: solid 2px var(--theme-nav-border);
        border-bottom: none;

        ul {
            flex-direction: column;
            padding: sass.$comp-padding-small 0;

            li {
                padding: calc(sass.$comp-padding-small / 2) 0;
            }
        }
    }

    footer {
        margin: 0 0 0 var(--view-nav-width);
        width: calc(100% - var(--view-nav-width));

        .artdv-footer-credits {

            h3 {
                margin: 10px 0;
                font-size: 33px;
                padding-left: sass.$comp-padding-big;
            }
            a {
                padding-left: calc(sass.$comp-padding-big + 3.5px);
            }
            i {
                top: 4px;
                left: sass.$comp-padding-big;
                width: 18px;
                aspect-ratio: 1 / 1;
            }
        }

        .artdv-footer-links {
            i {
                width: 17px;
            }
        }
    }

    @media screen and (height > 700px) {
        .artdv-admin {
            .artdv-admin-content {
                flex-direction: column;

                .triple-outer,
                .triple-inner {
                    width: 100%;
                    border: none;

                    .artdv-admin-option-description {
                        padding: calc(sass.$space25 + sass.$space5)!important;
                        .artdv-anchor {
                            font-size: 28px;
                        }
                    }
                }
                
                .artdv-admin-option {
                    
                    .artdv-author {
                        width: calc(100% - var(--view-nav-width));
                        a {
                            font-size: 16px!important;
                        }
                    }
                }
            }
        }
        .artdv-gallerydetails {
            .artdv-gallerydetails-img-wrapper {
                top: 20%;
            }
        }
        .artdv-login {
            .artdv-login-input {
                max-height: 300px!important;
            }
        }
    }

    @media screen and (height <= 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: 85%!important;
                .artdv-gallerydetails-img-wrapper {
                    top: 17%;
                    border-width: 10px;
                }
            }
        }

        .artdv-login {
            header h1 {
                margin: sass.$space15!important;
            }
            .artdv-login-input {
                max-height: 250px!important;
                min-height: 175px!important;
            }
        }
    }
}

// 768px > width < 1024px
@media screen and (width <= sass.$device-tablet-landscape) {
    .artdv-scroll-wrapper {
        position: relative;
        top: calc(var(--view-nav-width) + 3px);
        section {
            margin: 0!important;
        }
    }

    section {
        width: 100vw;
        margin: var(--view-nav-width) 0 0 0;
        min-height: calc(100% - (400px + var(--view-nav-width)))!important;
    }

    .artdv-author {
        width: 100%;
    }

    .artdv-about {
        p {
            font-size: 14px;
        }
        .artdv-about-content {
            #artdv-about-part1 {
                #artdv-about-image1 {
                    #artdv-about-image1-wrapper {
                        height: fit-content;
                        img {
                            width: 250px;
                        }
                    }
                }
            }
            #artdv-about-part2 {
                #artdv-about-image2 {
                    #artdv-about-image2-wrapper {
                        height: fit-content;
                        img {
                            width: 375px;
                        }
                    }
                }
            }
            #artdv-about-part3 {
                background-size: cover;
                height: 80vh;
                #artdv-about-part3-text {
                    p {
                        top: 33%;
                        max-width: 300px;
                        width: 33%;
                        padding: sass.$space25 sass.$space15;
                        margin: 0 calc((100% - var(--view-nav-width) - 100px) * 0.06) 0 0;
                    }
                }
            }
        }
    }

    .artdv-admin {
        .artdv-author {
            width: 100%;
        }
    }

    .artdv-admingallerydetail,
    .artdv-adminnewsdetail {
        form {
            $margin-form: calc(sass.$space100);
            margin: 0 $margin-form;
            width: calc(100% - ($margin-form * 2));
            min-width: 0;
            .artdv-admin-specific-detail-form {
                .artdv-admin-specific-detail-form-wrapper {
                    width: 75%;
                }
            }
            artdv-imgupload {
                width: 75%;
            }
        }
    }

    .artdv-adminnewslist,
    .artdv-admingallerylist {
        .artdv-admin-specific-list-filterbar {
            .artdv-admin-specific-list-select-wrapper {
                width: 200px;
            }
            .artdv-admin-specific-list-search-wrapper {
                min-width: 300px;
            }
        }
        .artdv-admin-specific-list-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admin-specific-list-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - ($margin-list * 2)) / 3) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallery {
        .artdv-gallery-content {
            margin: 50px 5px!important;

            .artdv-gallery-cards {
                margin: 0 3px 1.5px 3px!important;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-tools {
            top: calc(var(--view-nav-width) + 15px)!important;
            left: sass.$comp-padding-small!important;
        }
        .artdv-gallerydetails-content {
            margin: 0 0 sass.$comp-padding-medium 0!important;
        }
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: -50px!important;

            .artdv-author {
                margin-bottom: var(--view-nav-width);
            }

            .artdv-gallerydetails-img-wrapper {
                border-width: 10px;
                top: calc(18% + (100vh - 700px) * 0.15);
            }
        }
        .artdv-gallerydetails-divider {
            width: 60%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: calc(100% - (sass.$comp-padding-big * 2));
        }
        .artdv-faq-coll-title,
        .artdv-faq-coll-content {
            font-size: clamp(14px, 1.8vw, 17px);
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-medium;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2);
            img {
                max-width: 300px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-login {
        section {
            height: calc(100vh - var(--view-nav-width))!important;
        }
        .artdv-author {
            bottom: calc(var(--view-nav-width) * (-1));
        }
    }

    .artdv-imprint {
        .artdv-imprint-content {
            margin: sass.$space25 calc(sass.$space50 * 2);
        }
    }

    .artdv-prints {
        .artdv-prints-overview {
            $padding: sass.$space25;
            $border: 3px;
            width: calc(75% - ($padding * 2) - ($border * 2));
            p {
                font-size: 17px;
            }
        }
        .artdv-prints-content {
            .artdv-prints-block {
                width: 75%;
                .artdv-prints-block-content {
                    p,
                    li {
                        font-size: 15px;
                    }
                }
                .artdv-prints-canvas-img {
                    width: 80%;
                    img {
                        height: 200px;
                    }
                    .artdv-prints-img-label-bottom {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            margin: sass.$space25 calc(sass.$space50 * 2);
        }
    }

    .artdv-shipping {
        p,
        li {
            font-size: 15px;
        }
        .artdv-shipping-block-content {
            $shipping-padding: sass.$space15;
            .artdv-shipping-single {
                width: calc(75% - ($shipping-padding * 2));
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-small 0;
        }
    }

    artdv-imgfullscale {
        $border-img: 5px;
        $padding-img: 5px;
        $puffer-space: 3px;
        $gap-sum: calc(($border-img * 2) + ($padding-img * 2) + $puffer-space);

        .artdv-imgfullscale-wrapper {            
            img {
                max-width: calc(100vw - $gap-sum)!important;
                max-height: calc(100vh - $gap-sum)!important;
            }
        }
    }

    artdv-imgpreload {
        .artdv-gallery-cards-wrapper {
            img {
                $gallery-cards-margin: 6px;
                $img-preload-padding: 4px;
                $img-preload-border: 4px;
                $gap: calc($gallery-cards-margin + $img-preload-padding + $img-preload-border);
                width: calc(((100vw - 10px) / 3) - $gap)!important;
            }
        }
    }

    .artdv-nav-bar {
        height: var(--view-nav-width)!important;
        width: 100%!important;
        border-right: none;
        border-bottom: 2px solid var(--theme-nav-border);

        ul {
            flex-direction: row-reverse;
            padding: 0;

            li {
                padding: calc(sass.$comp-padding-small / 2) 4vw;
            }
        }
    }

    footer {
        margin: 0;
        width: 100vw;

        .artdv-footer-credits {
            width:45%!important;

            h3 {
                margin: 0.6vw 0;
                font-size: sass.$font-footer-header;
                padding-left: sass.$comp-padding-small;
            }
            a {
                padding-left: calc(sass.$comp-padding-small + 3.5px);
            }
            span,
            a {
                font-size: sass.$font-footer-link;
            }
            i {
                top:0.55vw;
                left: sass.$comp-padding-small;
                width: 2.4vw;
                aspect-ratio: 1 / 1;
            }
        }
        
        .artdv-footer-links {
            width: 55%!important;

            h4,
            a,
            span {
                font-size: sass.$font-footer-link;
            }

            i {
                width: 2.4vw;
            }
        }
    }
    
    @media screen and (height > 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: -50px!important;
                .artdv-gallerydetails-img-wrapper {
                    top: calc(20% + (100vh - 700px) * 0.15);
                }
            }
        }
    }
    @media screen and (height <= 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: calc(80% - 8vh)!important;
                .artdv-gallerydetails-img-wrapper {
                    top: calc(18% + (700px - 100vh) * 0.15);
                }
            }
        }
    }
}

// 500px > width < 768px
@media screen and (width <= sass.$device-phone-landscape) {
    section {
        $modified-nav-height: 350px;
        min-height: calc(100vh - $modified-nav-height - var(--view-nav-width))!important;
    }

    .artdv-about {
        .artdv-about-content {
            .artdv-about-indented > div {
                margin-bottom: sass.$space15;
            }
            #artdv-about-part1 {
                flex-direction: column;
                #artdv-about-image1 {
                    justify-content: center;
                    #artdv-about-image1-wrapper {
                        height: fit-content;
                        img {
                            width: 250px;
                        }
                    }
                }
                #artdv-about-text1 {
                    width: 100%;
                }
            }
            #artdv-about-part2 {
                flex-direction: column-reverse;
                #artdv-about-image2 {
                    justify-content: center;
                    #artdv-about-image2-wrapper {
                        height: fit-content;
                        img {
                            width: 375px;
                        }
                    }
                }
                #artdv-about-text2 {
                    width: 100%;
                }
            }
            #artdv-about-part3 {
                height: 60vh;
            }
        }
    }

    .artdv-home {
        header {
            background-position: 33%;
        }
    }

    .artdv-admin {
        .artdv-admin-content {
            flex-direction: column;

            .triple-outer,
            .triple-inner {
                width: 100%;
                border: none!important;
            }
        }
    }

    .artdv-admingallerydetail,
    .artdv-adminnewsdetail {
        form {
            $margin-form: 75px;
            margin: 0 $margin-form;
            width: calc(100% - ($margin-form * 2));
            min-width: 0;
            .artdv-admin-specific-detail-form {
                .artdv-admin-specific-detail-form-wrapper {
                    width: 100%;
                }
            }
            artdv-imgupload {
                width: calc(100% - 5px) // 5px as visual buffer
            }
        }
    }

    .artdv-adminnewslist,
    .artdv-admingallerylist {
        .artdv-admin-specific-list-filterbar {
            flex-direction: column;
            justify-content: none;
            align-items: center;
            .artdv-admin-specific-list-select-wrapper {
                width: 150px;
                margin-bottom: sass.$space15;
                margin-right: 0!important;
            }
            .artdv-admin-specific-list-search-wrapper {
                width: 100%;
                min-width: 0;
                max-width: 350px;
                margin-bottom: sass.$space15;
            }
            .artdv-admin-specific-list-media-wrapper {
                justify-content: center;
                margin: 0 sass.$space50;
                width: calc(100% - (sass.$space50 * 2));
            }
            .artdv-admin-specific-list-btn-wrapper {
                margin-left: 0!important;
            }
            .btn-close, .btn-add {
                margin-right: sass.$space15;
            }
        }
        .artdv-admin-specific-list-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admin-specific-list-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - ($margin-list * 2)) / 2) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: -50px!important;
        }
        .artdv-gallerydetails-divider {
            width: 70%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: calc(100% - (sass.$comp-padding-medium * 2));
        }
        .artdv-faq-coll-title,
        .artdv-faq-coll-content {
            font-size: clamp(14px, 1.8vw, 17px);
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-medium;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2) 0;
            img {
                max-width: 500px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-imprint {
        .artdv-imprint-content {
            font-size: 14px;
        }
    }

    .artdv-prints {
        .artdv-prints-overview {
            $padding: sass.$space25;
            $border: 3px;
            width: calc(100% - (sass.$space50 * 2) - ($padding * 2) - ($border * 2));
            margin: 0 sass.$space50 sass.$space50 sass.$space50;
            p {
                font-size: 16px;
            }
        }
        .artdv-prints-content {
            .artdv-prints-block {
                width: calc(100% - (sass.$space50 * 2));
                margin: 0 sass.$space50 sass.$space50 sass.$space50;
                .artdv-prints-block-content {
                    p,
                    li {
                        font-size: 14px;
                    }
                }
                .artdv-prints-canvas-img {
                    width: 100%;
                    .artdv-prints-img-label-bottom {
                        font-size: 11px;
                    }
                }
            }
        }
        .artdv-prints-price-info {
            a,
            span {
                font-size: 14px;
            }
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            font-size: 14px;
        }
    }

    .artdv-shipping {
        p,
        li {
            font-size: 14px;
        }
        $responsive-margin: sass.$space50;
        .artdv-shipping-block {
            h2 {
                margin: 0 $responsive-margin sass.$space5 $responsive-margin;
                text-align: center;
            }
        }
        .artdv-shipping-block-content {
            flex-direction: column;
            $shipping-padding: sass.$space15;
            .artdv-shipping-container {
                margin: 0 $responsive-margin;
                img {
                    height: 125px;
                }
            }
            .artdv-shipping-single {
                width: calc(100% - ($shipping-padding * 2) - ($responsive-margin * 2));
            }
            .artdv-shipping-double {
                width: calc(100% - ($shipping-padding * 2) - ($responsive-margin * 2));
            }
            .artdv-shipping-triple {
                width: calc(100% - ($shipping-padding * 2) - ($responsive-margin * 2));
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-medium 0;
        }
        .artdv-carousel-default-text-wrapper {
            padding: 0 sass.$comp-padding-small!important;
        }
        img {
            width: 35vw!important;
            height: 35vw!important;
        }
    }

    .artdv-component-snackbar {
        align-items: center!important;
    }

    .artdv-snackbar-container {
        margin: sass.$space15 0 0 0!important;
    }

    footer {
        flex-direction: column-reverse!important;
        height: 350px!important;
        .artdv-footer-credits {
            width: 100%!important;
            text-align: center;
            h3 {
                padding-left:0!important;
            }
            a {
                padding-left: 3.5px!important;
            }
            i {
                left: 0;
                width: 3vw;
            }
        }

        .artdv-footer-links {
            margin-top: sass.$comp-padding-small;
            width: 100%!important;
            ul {
                li {
                    padding: 2px 0!important;

                    .artdv-footer-language-select {
                        max-height: 25px;
                    }
                }
            }
            i {
                width: 2.8vw;
                margin-left: 4px!important;
            }
        }
    }

    @media screen and (height <= 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: calc(80% - 8vw)!important;
            }
        }
    }
}

// 400px > width < 500px
@media screen and (width <= sass.$device-phone-portrait) {
    section {
        min-height: calc(100% - (300px + var(--view-nav-width)))!important;
    }

    .artdv-about {
        p {
            margin: 0;
        }
        .artdv-about-content {
            #artdv-about-part1 {
                #artdv-about-image1 {
                    #artdv-about-image1-wrapper {
                        img {
                            width: 250px;
                        }
                    }
                }
            }
            #artdv-about-part2 {
                #artdv-about-image2 {
                    #artdv-about-image2-wrapper {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            #artdv-about-part3 {
                height: 33vh;
                #artdv-about-part3-text {
                    p {
                        top: 33%;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .artdv-admingallerydetail,
    .artdv-adminnewsdetail {
        .artdv-admin-specific-detail-form-wrapper {
            flex-direction: column!important;
            margin-bottom: sass.$space15!important;
            span {
                font-size: 14px;
                margin-bottom: sass.$space5;
            }
            artdv-textinput,
            artdv-selectinput,
            artdv-textareainput {
                width: 100%!important;
            }
        }
    }

    .artdv-adminnewslist,
    .artdv-admingallerylist {
        .artdv-admin-specific-list-list {
            $margin-list: sass.$space15;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admin-specific-list-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - ($margin-list * 2)) / 2) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallery {
        .artdv-gallery-content {

            .artdv-gallery-cards {
                margin: 0 2px!important;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: -50px!important;
        }
    }

    .artdv-contact {
        .artdv-contact-content-wrapper {
            margin: sass.$comp-padding-small!important;

            .artdv-contact-content {
                width: calc(100% - (sass.$comp-padding-small * 2))!important;

                form {
                    width: 100%!important;
                }
            }
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-small;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2) 0;
            img {
                width: 70vw!important;
                height: 70vw!important;
            }
        }
    }

    .artdv-login {
        .artdv-login-input {
            height: 33vh!important;
            padding: 0 sass.$space15!important;
            margin: sass.$space25!important;
        }
    }

    .artdv-imprint {
        .artdv-imprint-content {
            margin: 0 calc(sass.$space25 * 2) sass.$space25 calc(sass.$space25 * 2);
        }
    }

    .artdv-prints {
        .artdv-prints-overview {
            $padding: sass.$space25;
            $border: 3px;
            width: calc(100% - (sass.$space25 * 2) - ($padding * 2) - ($border * 2));
            margin: 0 sass.$space25 sass.$space50 sass.$space25;
        }
        .artdv-prints-content {
            .artdv-prints-block {
                width: calc(100% - (sass.$space25 * 2));
                margin: 0 sass.$space25 sass.$space50 sass.$space25;
                .artdv-prints-canvas-img {
                    img {
                        height: 150px;
                    }
                    .artdv-prints-img-label-bottom {
                        font-size: 10px;
                    }
                }
            }
        }
        .artdv-prints-price-info {
            .artdv-prints-price-info-wrapper {
                flex-direction: column;
            }
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            margin: 0 calc(sass.$space25 * 2) sass.$space25 calc(sass.$space25 * 2);
        }
    }

    .artdv-shipping {
        $responsive-margin: sass.$space25;
        .artdv-shipping-block {
            h2 {
                margin: 0 $responsive-margin sass.$space5 $responsive-margin;
                text-align: center;
            }
        }
        .artdv-shipping-block-content {
            $shipping-padding: sass.$space15;
            .artdv-shipping-container {
                margin: 0 $responsive-margin;
                img {
                    height: 100px;
                }
            }
            .artdv-shipping-single {
                width: calc(100% - ($shipping-padding * 2) - ($responsive-margin * 2));
            }
            .artdv-shipping-double {
                width: calc(100% - ($shipping-padding * 2) - ($responsive-margin * 2));
            }
            .artdv-shipping-triple {
                width: calc(100% - ($shipping-padding * 2) - ($responsive-margin * 2));
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$space25 0;
        }
        .artdv-carousel-default-wrapper {
            display: flex!important;
            flex-direction: column!important;
            .artdv-carousel-default-text-wrapper {
                width: calc(100% - 100px)!important;
            }
        }
        .artdv-carousel-arrows {
            bottom: 5px!important;
        }
    }

    artdv-imgfullscale {
        .artdv-imgfullscale-wrapper {
            img {
                $border-img: 5px;
                $padding-img: 5px;
                $gap-sum: calc(($border-img * 2) + ($padding-img * 2));
                max-width: calc(100vw - $gap-sum)!important;
                max-height: calc(100vh - $gap-sum - var(--view-nav-width))!important;
            }
        }
    }

    artdv-imgpreload {
        .artdv-gallery-cards-wrapper {
            img {
                $gallery-cards-margin: 4px;
                $img-preload-padding: 4px;
                $img-preload-border: 4px;
                $gap: calc($gallery-cards-margin + $img-preload-padding + $img-preload-border);
                width: calc(((100vw - 10px) / 3) - $gap)!important;
            }
        }
    }

    .artdv-nav-bar {
        ul {
            i {
                width: clamp(20px, 5.5vw, 35px);
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-component-snackbar {
        top: var(--view-nav-width)!important;
        left: 0!important;
        .artdv-snackbar-container {
            margin: 15px auto!important;
        }
    }
}