@use '../stylesheets/utilities' as sass;


/* prevent printing webpage */
@media print {
    html, body {
        display: none;
    }
}

// width > 1440px
@media screen and (width >= sass.$device-desktop-xk) {
    section {
        $navbar-border: 2px;
        width: calc(100% - var(--view-nav-width) - $navbar-border);
        margin: 0 0 0 calc(var(--view-nav-width) + $navbar-border);
    }

    .artdv-home {
        header {
            min-height: 500px;
            max-height: 700px;
            height: 80vh;
        }
    }

    .artdv-about {
        .artdv-about-content {
            margin: sass.$comp-padding-big sass.$comp-padding-big 0 sass.$comp-padding-big;
        }
        #img1 img {
            width: 100%;
            max-height: 700px;
            object-position: center top;
        }
        .artdv-about-text1 {
            p {
                margin: 0 0 0 sass.$comp-padding-medium;
                font-size: clamp(16px, 2.5vw, 20px);
            }
        }
        .artdv-about-additional {
            flex-direction: row;
            margin: sass.$comp-padding-big;

            .artdv-about-text2 {
                width: 60%;
                p {
                    font-size: clamp(16px, 2.5vw, 20px);
                    margin-right: calc(sass.$comp-padding-small / 2);
                }
            }
        }
        #img2 {
            width: 40%;
            img {
                max-height: 700px;
            }
        }
    }

    .artdv-admin {
        .artdv-admin-content {
            flex-direction: row;

            .triple-outer {
                width: 33%;
            }

            .triple-inner {
                width: 34%;
            }

            .artdv-admin-option {
                .artdv-author {
                    width: calc(33% - (var(--view-nav-width) / 3));
                }
            }
        }
    }

    .artdv-admingallerylist {
        .artdv-admingallerylist-filterbar {
            flex-direction: row;
            .artdv-admingallerylist-select-wrapper {
                width: 250px;
            }
            .artdv-admingallerylist-search-wrapper {
                min-width: 400px;
                width: 20%;
            }
        }

        .artdv-admingallerylist-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admingallerylist-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space15;
                width: calc(((100vw - var(--view-nav-width) - 2px - ($margin-list * 2)) / 4) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-content {
            margin: calc(sass.$comp-padding-medium + sass.$comp-padding-small) 0!important;
        }
        // TODO(yqni13): adapt responsive design for width > 1800px
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: 80%!important;

            .artdv-gallerydetails-img-wrapper {
                margin: 0 0 calc((1000px - 100vh) * 0.5) 0!important;
            }

            img {
                max-width: 800px!important;
                max-height: calc(250px + ((100vw - 1440px) * 0.3))!important;
            }
        }
        .artdv-gallerydetails-divider {
            width: 45%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: 60%;
            max-width: 700px;
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-big;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2);
            img {
                max-width: 350px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-imprint,
    .artdv-privacy {
        .artdv-imprint-content,
        .artdv-privacy-content {
            margin: calc(sass.$comp-padding-medium + sass.$comp-padding-small) sass.$comp-padding-big sass.$comp-padding-big sass.$comp-padding-big;
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            h2 {
                padding-top: sass.$comp-padding-small;
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-big 0;
        }
    }
    
    .artdv-nav-bar {
        height: 100vh;
        width: var(--view-nav-width);
        border-right: solid 2px var(--theme-nav-border);
        border-bottom: none;
        
        ul {
            flex-direction: column;
            padding: sass.$comp-padding-small 0;

            li {
                padding: calc(sass.$comp-padding-small / 2) 0;
            }
        }
    }

    footer {
        margin: 0 0 0 var(--view-nav-width);
        width: calc(100% - var(--view-nav-width));

        .artdv-footer-credits {

            h3 {
                margin: 10px 0;
                font-size: 33px;
                padding-left: sass.$comp-padding-big;
            }
            a {
                padding-left: calc(sass.$comp-padding-big + 3.5px);
            }
            i {
                top: 4px;
                left: sass.$comp-padding-big;
                width: 18px;
                aspect-ratio: 1 / 1;
            }
        }

        .artdv-footer-links {

            h4,
            a,
            span {
                font-size: sass.$font-text-size;
            }

            i {
                width: clamp(19px, 1.3vw, 23px);
            }
        }
    }

    @media screen and (height > 1000px) {
        .artdv-admin {
            .artdv-admin-content {
                flex-direction: column;

                .triple-outer,
                .triple-inner {
                    width: 100%;
                    border: none;

                    .artdv-admin-option-description {
                        padding: calc(sass.$space25 + sass.$space5)!important;
                        .artdv-anchor {
                            font-size: 34px;
                        }
                    }
                }
                
                .artdv-admin-option {
                    
                    .artdv-author {
                        width: calc(100% - var(--view-nav-width));
                        a {
                            font-size: 22px!important;
                        }
                    }
                }
            }
        }
    }

    @media screen and (height <= 600px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                .artdv-gallerydetails-img-wrapper {
                    margin: 0 0 calc((1000px - 100vh) * 0.25) 0!important;
                }
                img {
                    max-height: 45vh!important;
                    padding: 20px 10px!important;
                }
            }
        }
    }
}

// 1024px > width < 1440px
@media screen and (width <= sass.$device-desktop-xk) {
    section {
        width: calc(100% - var(--view-nav-width));
        margin: 0 0 0 var(--view-nav-width);
    }

    .artdv-home {
        header {
            min-height: 500px;
            max-height: 700px;
            height: 80vh;
        }
        .artdv-home-top-img {
            img {
                width: calc(100% - (sass.$comp-padding-big * 2))!important;
            }
        }
    }

    .artdv-about {
        .artdv-about-content {
            margin: sass.$comp-padding-medium sass.$comp-padding-medium 0 sass.$comp-padding-medium;
        }
        #img1 img {
            width: 100%;
            max-height: 700px;
            object-position: center top;
        }
        .artdv-about-text1 {
            p {
                margin: 0 0 0 sass.$comp-padding-medium;
                font-size: clamp(16px, 2.5vw, 20px);
            }
        }
        .artdv-about-additional {
            flex-direction: row;
            margin: sass.$comp-padding-medium;

            .artdv-about-text2 {
                width: 60%;
                p {
                    font-size: clamp(16px, 2.5vw, 20px);
                    margin-right: calc(sass.$comp-padding-small / 2);
                }
            }
        }
        #img2 {
            width: 40%;
            img {
                max-height: 700px;
            }
        }
    }

    .artdv-admin {
        .artdv-admin-content {
            flex-direction: row;

            .triple-outer {
                width: 33%;
            }

            .triple-inner {
                width: 34%;
            }

            .artdv-admin-option {

                .artdv-author {
                    width: calc(33% - (var(--view-nav-width) / 3));
                }
            }
        }
    }

    .artdv-admingallerylist {
        .artdv-admingallerylist-filterbar {
            flex-direction: row;
            .artdv-admingallerylist-select-wrapper {
                width: 200px;
            }
            .artdv-admingallerylist-search-wrapper {
                min-width: 300px;
                width: 20%;
            }
        }
        .artdv-admingallerylist-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admingallerylist-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - var(--view-nav-width) - 2px - ($margin-list * 2)) / 4) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-content {
            margin: sass.$comp-padding-medium 0!important;
        }
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: 80%!important;

            $img-widthborder-wrapper: 10px;
            $img-widthborder-img: 2px;
            $img-widthpadding-img: 25px;
            
            $gap-sum: calc(($img-widthpadding-img * 2) 
            + ($img-widthborder-img * 2) 
            + ($img-widthborder-wrapper * 2) 
            + (clamp(175px, 18vw, 300px) * 2));

            .artdv-gallerydetails-img-wrapper {
                margin: 0 0 calc((1000px - 100vh) * 0.05) 0!important;
            }

            img {
                max-width: calc(100vw - $gap-sum)!important;
                max-height: 33vh!important;
            }
        }
        .artdv-gallerydetails-divider {
            width: 55%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: 60vw;
            max-width: 700px;
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-medium;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2);
            img {
                max-width: 300px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-imprint,
    .artdv-privacy {
        .artdv-imprint-content,
        .artdv-privacy-content {
            margin: calc(sass.$comp-padding-medium + sass.$comp-padding-small) sass.$comp-padding-big sass.$comp-padding-big sass.$comp-padding-big;
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            h2 {
                padding-top: sass.$comp-padding-medium;
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-medium 0;
        }
    }

    .artdv-nav-bar {
        height: 100vh;
        width: var(--view-nav-width);
        border-right: solid 2px var(--theme-nav-border);
        border-bottom: none;

        ul {
            flex-direction: column;
            padding: sass.$comp-padding-small 0;

            li {
                padding: calc(sass.$comp-padding-small / 2) 0;
            }
        }
    }

    footer {
        margin: 0 0 0 var(--view-nav-width);
        width: calc(100% - var(--view-nav-width));

        .artdv-footer-credits {

            h3 {
                margin: 10px 0;
                font-size: 33px;
                padding-left: sass.$comp-padding-big;
            }
            a {
                padding-left: calc(sass.$comp-padding-big + 3.5px);
            }
            i {
                top: 4px;
                left: sass.$comp-padding-big;
                width: 18px;
                aspect-ratio: 1 / 1;
            }
        }

        .artdv-footer-links {
            i {
                width: 17px;
            }
        }
    }

    @media screen and (height > 700px) {
        .artdv-admin {
            .artdv-admin-content {
                flex-direction: column;

                .triple-outer,
                .triple-inner {
                    width: 100%;
                    border: none;

                    .artdv-admin-option-description {
                        padding: calc(sass.$space25 + sass.$space5)!important;
                        .artdv-anchor {
                            font-size: 28px;
                        }
                    }
                }
                
                .artdv-admin-option {
                    
                    .artdv-author {
                        width: calc(100% - var(--view-nav-width));
                        a {
                            font-size: 16px!important;
                        }
                    }
                }
            }
        }
    }

    @media screen and (height <= 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: 85%!important;
                .artdv-gallerydetails-img-wrapper {
                    margin: 0 0 calc((1000px - 100vh) * 0.15) 0!important;
                }
                img {
                    max-height: 38vh!important;
                    padding: 20px 10px!important;
                }
            }
        }
    }
}


// 768px > width < 1024px
@media screen and (width <= sass.$device-tablet-landscape) {
    .artdv-scroll-wrapper {
        position: relative;
        top: calc(var(--view-nav-width) + 3px);
        section {
            margin: 0!important;
        }
    }

    section {
        width: 100vw;
        margin: var(--view-nav-width) 0 0 0;
        min-height: calc(100% - (400px + var(--view-nav-width)))!important;
    }

    .artdv-home {
        header {
            min-height: 450px;
            max-height: 600px;
            height: 70vh;
            background-size: calc(110%);
        }

        .artdv-home-top-img {
            img {
                width: 75vw!important;
            }
        }
    }

    .artdv-about {
        .artdv-about-content {
            margin: sass.$comp-padding-small;
        }
        #img1 img {
            width: 100%;
            max-height: 600px;
            object-position: center top;
        }
        .artdv-about-text1 {
            p {
                margin: 0 0 0 calc(sass.$comp-padding-small / 2);
                font-size: clamp(16px, 2.5vw, 20px);
            }
        }
        .artdv-about-additional {
            flex-direction: row;
            margin: 0 sass.$comp-padding-small sass.$comp-padding-small sass.$comp-padding-small;

            .artdv-about-text2 {
                width: 60%;
                p {
                    font-size: clamp(16px, 2.5vw, 20px);
                    margin-right: calc(sass.$comp-padding-small / 2);
                }
            }
        }
        #img2 {
            width: 40%;
            justify-content: end!important;
            img {
                max-height: 600px;
            }
        }
    }

    .artdv-admingallerylist {
        .artdv-admingallerylist-filterbar {
            .artdv-admingallerylist-select-wrapper {
                width: 200px;
            }
            .artdv-admingallerylist-search-wrapper {
                min-width: 300px;
            }
        }
        .artdv-admingallerylist-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admingallerylist-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - ($margin-list * 2)) / 3) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallery {
        .artdv-gallery-content {
            margin: 50px 5px!important;

            .artdv-gallery-cards {
                margin: 0 3px 1.5px 3px!important;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-tools {
            top: calc(var(--view-nav-width) + 15px)!important;
            left: sass.$comp-padding-small!important;
        }
        .artdv-gallerydetails-content {
            margin: 0 0 sass.$comp-padding-medium 0!important;
        }
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: -50px!important;

            $img-widthborder-wrapper: 10px;
            $img-widthborder-img: 2px;
            $img-widthpadding-img: 25px;
            
            $gap-sum: calc(($img-widthpadding-img * 2) 
            + ($img-widthborder-img * 2) 
            + ($img-widthborder-wrapper * 2) 
            + (12vw * 2));

            .artdv-gallerydetails-img-wrapper {
                margin: 0 0 calc((1000px - 97vh) * 0.5) 0!important;
            }

            img {
                max-width: calc(100vw - $gap-sum)!important;
                max-height: 30vh!important;
            }
        }
        .artdv-gallerydetails-divider {
            width: 60%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: calc(100% - (sass.$comp-padding-big * 2));
        }
        .artdv-faq-coll-title,
        .artdv-faq-coll-content {
            font-size: clamp(14px, 1.8vw, 17px);
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-medium;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2);
            img {
                max-width: 300px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-imprint,
    .artdv-privacy {
        .artdv-imprint-content,
        .artdv-privacy-content {
            margin: sass.$comp-padding-medium;
            a,
            p {
                font-size: clamp(14px, 1.8vw, 17px);
            }
        }
    }

    .artdv-privacy {
        .artdv-privacy-content {
            h2 {
                padding-top: calc(sass.$comp-padding-medium + sass.$comp-padding-small);
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-small 0;
        }
    }

    artdv-imgfullscale {
        $border-img: 5px;
        $padding-img: 5px;
        $puffer-space: 3px;
        $gap-sum: calc(($border-img * 2) + ($padding-img * 2) + $puffer-space);

        .artdv-imgfullscale-wrapper {            
            img {
                max-width: calc(100vw - $gap-sum)!important;
                max-height: calc(100vh - $gap-sum)!important;
            }
        }
    }

    artdv-imgpreload {
        .artdv-gallery-cards-wrapper {
            img {
                $gallery-cards-margin: 6px;
                $img-preload-padding: 4px;
                $img-preload-border: 4px;
                $gap: calc($gallery-cards-margin + $img-preload-padding + $img-preload-border);
                width: calc(((100vw - 10px) / 3) - $gap)!important;
            }
        }
    }

    .artdv-nav-bar {
        height: var(--view-nav-width)!important;
        width: 100%!important;
        border-right: none;
        border-bottom: 2px solid var(--theme-nav-border);

        ul {
            flex-direction: row-reverse;
            padding: 0;

            li {
                padding: calc(sass.$comp-padding-small / 2) 4vw;
            }
        }
    }

    footer {
        margin: 0;
        width: 100vw;

        .artdv-footer-credits {
            width:45%!important;

            h3 {
                margin: 0.6vw 0;
                font-size: 4.75vw;
                padding-left: sass.$comp-padding-small;
            }
            a {
                padding-left: calc(sass.$comp-padding-small + 3.5px);
            }
            span,
            a {
                font-size: 2.2vw;
            }
            i {
                top:0.55vw;
                left: sass.$comp-padding-small;
                width: 2.4vw;
                aspect-ratio: 1 / 1;
            }
        }
        .artdv-footer-links {
            width: 55%!important;

            h4,
            a,
            span {
                font-size: 2.2vw;
            }

            i {
                width: 2.2vw;
            }
        }
    }
    
    @media screen and (height >= 1000px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: -50px!important;
                .artdv-gallerydetails-img-wrapper {
                    margin: 0 0 calc((100vh - 1000px) * 0.2) 0!important;
                }
                img {
                    max-height: 28vh!important;
                }
            }
        }
    }
    @media screen and (height <= 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: calc(80% - 8vh)!important;
                .artdv-gallerydetails-img-wrapper {
                    margin: 0 0 calc((1000px - 99vh) * 0.2) 0!important;
                }
                img {
                    max-height: 31vh!important;
                    padding: 20px 10px!important;
                }
            }
        }
    }
}

// 500px > width < 768px
@media screen and (width <= sass.$device-phone-landscape) {
    .artdv-home {
        .artdv-home-top-img {
            padding: sass.$comp-padding-small 0!important;
            justify-content: center!important;
            
            img {
                width: 85vw!important;
                margin-right: 0!important;
            }
        }
    }

    .artdv-about {
        .artdv-about-content {
            margin: sass.$comp-padding-small;
        }
        #img1 img {
            width: 100%!important;
        }
        .artdv-about-text1 {
            margin-left: calc(sass.$comp-padding-small / 2);
            p {
                font-size: clamp(14px, 2.5vw, 20px);
            }
        }
        .artdv-about-additional {
            flex-direction: column;
            margin: sass.$comp-padding-small;

            .artdv-about-text2 {
                width: 100%;                
                p {
                    font-size: clamp(14px, 2.5vw, 20px);
                    margin: 0;
                }
            }
        }
        #img2 {
            width: 100%;
            justify-content: center!important;
        }
    }

    .artdv-admin {
        .artdv-admin-content {
            flex-direction: column;

            .triple-outer,
            .triple-inner {
                width: 100%;
                border: none!important;
            }

            .artdv-admin-option {

                .artdv-author {
                    width: calc(100% - var(--view-nav-width));
                }
            }
        }
    }

    .artdv-admingallerylist {
        .artdv-admingallerylist-filterbar {
            flex-direction: column;
            justify-content: none;
            align-items: center;
            .artdv-admingallerylist-select-wrapper {
                width: 150px;
                margin-bottom: sass.$space15;
                margin-right: 0!important;
            }
            .artdv-admingallerylist-search-wrapper {
                width: 100%;
                min-width: 0;
                max-width: 350px;
                margin-bottom: sass.$space15;
            }
            .artdv-admingallerylist-media-wrapper {
                justify-content: center;
                margin: 0 sass.$space50;
                width: calc(100% - (sass.$space50 * 2));
            }
            .artdv-admingallerylist-btn-wrapper {
                margin-left: 0!important;
            }
            .btn-close, .btn-add {
                margin-right: sass.$space15;
            }
        }
        .artdv-admingallerylist-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admingallerylist-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - ($margin-list * 2)) / 2) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: -50px!important;

            $img-widthborder-wrapper: 10px;
            $img-widthborder-img: 2px;
            $img-widthpadding-img: 25px;
            
            $gap-sum: calc(($img-widthpadding-img * 2) 
            + ($img-widthborder-img * 2) 
            + ($img-widthborder-wrapper * 2) 
            + (sass.$comp-padding-medium * 2));

            .artdv-gallerydetails-img-wrapper {
                margin: 0 0 150px 0!important;
            }

            img {
                max-width: calc(100vw - $gap-sum)!important;
            }
        }
        .artdv-gallerydetails-divider {
            width: 70%!important;
        }
    }

    .artdv-faq {
        .artdv-faq-wrapper {
            width: calc(100% - (sass.$comp-padding-medium * 2));
        }
        .artdv-faq-coll-title,
        .artdv-faq-coll-content {
            font-size: clamp(14px, 1.8vw, 17px);
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-medium;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2) 0;
            img {
                max-width: 500px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .artdv-imprint,
    .artdv-privacy {
        .artdv-imprint-content,
        .artdv-privacy-content {
            margin: sass.$comp-padding-small;
            h2 {
                font-size: clamp(19px, 3vw, 26px);
            }
            h3 {
                font-size: clamp(17px, 2.7vw, 24px);
            }
            a,
            p {
                font-size: clamp(14px, 1.8vw, 17px);
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-medium 0;
        }
        .artdv-carousel-default-text-wrapper {
            padding: 0 sass.$comp-padding-small!important;
        }
        img {
            width: 35vw!important;
            height: 35vw!important;
        }
    }

    .artdv-component-snackbar {
        align-items: center!important;
    }

    .artdv-snackbar-container {
        margin: sass.$space15 0 0 0!important;
    }

    footer {
        .artdv-footer-links {
            i {
                bottom: calc(9px - 0.5vw);
            }
        }
    }

    @media screen and (height <= 700px) {
        .artdv-gallerydetails {
            .artdv-gallerydetails-img {
                background-position-y: calc(80% - 8vw)!important;
                .artdv-gallerydetails-img-wrapper {
                    margin: 0 0 calc((1000px - 99vh) * 0.2) 0!important;
                }
                img {
                    max-height: 28vh!important;
                    padding: 15px 10px!important;
                }
            }
        }
    }
}

// 400px > width < 500px
@media screen and (width <= sass.$device-phone-portrait) {
    section {
        min-height: calc(100% - (300px + var(--view-nav-width)))!important;
    }

    .artdv-home {
        header {
            min-height: 350px;
            max-height: 450px;
            height: 60vh;
        }

        .artdv-home-top-img {
            padding: sass.$comp-padding-small 0!important;
            justify-content: center!important;
            
            img {
                width: 85vw!important;
                margin-right: 0!important;
            }
        }
    }

    .artdv-about {
        .artdv-about-content {
            flex-direction: column-reverse!important;

        }
        #img1 {
            width: 100%;
            margin-top: 0!important;
            img {
                margin: 0 calc(sass.$comp-padding-small / 2);
                width: 70vw!important;
                max-height: 400px;
                object-position: center top;
            }
        }
        .artdv-about-text1 {
            width: 100%!important;
            margin: calc(sass.$comp-padding-small / 2) 0!important;
            p {
                margin: 0;
                font-size: clamp(14px, 2.5vw, 20px);
                width: 100%!important;
            }
        }
        .artdv-about-additional {
            flex-direction: column;
            margin: sass.$comp-padding-small;
            p {
                font-size: clamp(14px, 2.5vw, 20px);
            }
        }
        #img2 {
            width: 100%;
            img {
                max-width: 300px!important;
                margin: sass.$comp-padding-small auto!important;
            }
        }
    }

    .artdv-admingallerylist {
        .artdv-admingallerylist-list {
            $margin-list: sass.$space50;
            margin: 0 $margin-list sass.$space50 $margin-list;
            
            .artdv-admingallerylist-list-element {
                $border-width: 2px;
                $width-limit: calc($border-width * 2);
                $margin-element: sass.$space5;
                width: calc(((100vw - ($margin-list * 2)) / 2) - $width-limit - ($margin-element * 2));
                margin: $margin-element;
            }
        }
    }

    .artdv-gallery {
        .artdv-gallery-content {

            .artdv-gallery-cards {
                margin: 0 2px!important;
            }
        }
    }

    .artdv-gallerydetails {
        .artdv-gallerydetails-img {
            height: 100vh!important;
            background-position-x: center!important;
            background-position-y: -50px!important;

            $img-widthborder-wrapper: 10px;
            $img-widthborder-img: 2px;
            $img-widthpadding-img: 25px;

            $gap-sum: calc(($img-widthpadding-img * 2) 
            + ($img-widthborder-img * 2) 
            + ($img-widthborder-wrapper * 2) 
            + (sass.$comp-padding-small * 2));

            .artdv-gallerydetails-img-wrapper {
                margin: 0 0 150px 0!important;
            }

            img {
                max-width: calc(100vw - $gap-sum)!important;
            }
        }
    }

    .artdv-contact {
        .artdv-contact-content-wrapper {
            margin: sass.$comp-padding-small!important;

            .artdv-contact-content {
                width: calc(100% - (sass.$comp-padding-small * 2))!important;

                form {
                    width: 100%!important;
                }
            }
        }
    }

    .artdv-archive {
        .artdv-archive-content {
            margin: sass.$comp-padding-small;
        }
        .artdv-archive-entry {
            margin: calc(sass.$comp-padding-small / 2) 0;
            img {
                width: 70vw!important;
                height: 70vw!important;
            }
        }
    }

    .artdv-imprint,
    .artdv-privacy {
        .artdv-imprint-content,
        .artdv-privacy-content {
            margin: sass.$comp-padding-small;
            h2 {
                text-wrap: balance;
                font-size: clamp(19px, 3vw, 26px);
            }
            h3 {
                text-wrap: balance;
                font-size: clamp(17px, 2.7vw, 24px);
            }
            a,
            p {
                font-size: clamp(14px, 1.8vw, 17px);
            }
        }
    }

    artdv-carousel {
        .artdv-carousel-wrapper {
            padding: sass.$comp-padding-small 0 0 0;
        }
        .artdv-carousel-default-wrapper {
            display: flex!important;
            flex-direction: column!important;
            .artdv-carousel-default-text-wrapper {
                width: calc(100% - 100px)!important;
            }
        }
        .artdv-carousel-arrows {
            bottom: 5px!important;
        }
    }

    artdv-imgfullscale {
        .artdv-imgfullscale-wrapper {
            img {
                $border-img: 5px;
                $padding-img: 5px;
                $gap-sum: calc(($border-img * 2) + ($padding-img * 2));
                max-width: calc(100vw - $gap-sum)!important;
                max-height: calc(100vh - $gap-sum - var(--view-nav-width))!important;
            }
        }
    }

    artdv-imgpreload {
        .artdv-gallery-cards-wrapper {
            img {
                $gallery-cards-margin: 4px;
                $img-preload-padding: 4px;
                $img-preload-border: 4px;
                $gap: calc($gallery-cards-margin + $img-preload-padding + $img-preload-border);
                width: calc(((100vw - 10px) / 3) - $gap)!important;
            }
        }
    }

    .artdv-nav-bar {
        ul {
            i {
                width: clamp(20px, 5.5vw, 35px);
                aspect-ratio: 1 / 1;
            }
        }
    }

    footer {
        flex-direction: column-reverse!important;
        height: 300px!important;

        .artdv-footer-credits {
            width: 100%!important;
            text-align: center;
            h3 {
                padding-left:0!important;
            }
            a {
                padding-left: 3.5px!important;
            }
            i {
                left: 0;
            }
        }

        .artdv-footer-links {
            margin-top: sass.$comp-padding-small;
            width: 100%!important;
            ul {
                li {
                    padding: 2px 0!important;

                    .artdv-footer-language-select {
                        max-height: 25px;
                    }
                }
            }
        }
    }

    .artdv-component-snackbar {
        top: var(--view-nav-width)!important;
        left: 0!important;
        .artdv-snackbar-container {
            margin: 15px auto!important;
        }
    }
}