<!-- keep navigation outside wrapper to improve scrollbar-position control in mobile mode -->
<artdv-navigation></artdv-navigation>
<main class="artdv-scroll-anchor" [ngClass]="scrollbarActive ? 'artdv-scroll-wrapper' : ''">
    
    <router-outlet></router-outlet>
    <artdv-loading-animation [ngClass]="isNavigating ? 'artdv-visible' : 'artdv-hidden'"></artdv-loading-animation>
    
    <div class="artdv-component-snackbar" *ngIf="snackbarService.snackbarCollection.length > 0">
        <artdv-snackbar *ngFor="let snackbar of snackbarService.snackbarCollection" [snackbarMsg]="snackbar"></artdv-snackbar>
    </div>
    
    <artdv-footer></artdv-footer>
    <div 
        class="artdv-scroll-top"
        [attr.aria-disabled]="true"
        (click)="scrollToTop()"
        (keydown.enter)="scrollToTop()"
        [ngStyle]="scrollbarActive ? {'right': '16px'} : {'right': '10px'}"
    >
        <i class="icon-Top"></i>
    </div>
</main>
