@use '../stylesheets/utilities' as sass;


.artdv-component-snackbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    height: 100%;
    width: 100%;
    z-index: 1001;
    backdrop-filter: contrast(0.3) blur(1px);
}

$scroll-btn-color: sass.$color-light-grey;

.artdv-scroll-top {
    position: fixed;
    bottom: 10px;
    padding: 5px 5px 2px 5px;
    border: 1px solid $scroll-btn-color;
    border-radius: 5px;
    cursor: pointer;

    i {
        width: sass.$top-reset-size;
        height: sass.$top-reset-size;
        color: $scroll-btn-color;
    }

    &:hover {
        opacity: 0.3;
    }
}