@use '../../../../stylesheets/utilities' as sass;


.artdv-snackbar-container {
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-nav-bg);
    margin: 25px;
}

.snackbar-error {
    span,
    i {
        color: var(--theme-snackbar-error);
    }
}
.snackbar-info {
    span,
    i {
        color: var(--theme-snackbar-info);
    }
}
.snackbar-success {
    span,
    i {
        color: var(--theme-snackbar-success);
    }
}
.snackbar-warning {
    span,
    i {
        color: var(--theme-snackbar-warning);
    }
}

.artdv-snackbar-content {
    display: flex;
    flex-direction: column;
    
    .artdv-snackbar-title {
        display: flex;
        flex-direction: row;
        padding: 0 0 5px 0;

        span {
            padding-left: 15px;
            text-transform: uppercase;
            font-weight: bold;
            align-content: center;
        }
        h4 {
            padding: 0 15px;
            margin-block: 0;
            margin-inline: 0;
            text-transform: uppercase;
        }
    }
    .artdv-snackbar-text {        
        padding: 0 15px;
        margin-block: 0;
        margin-inline: 0;
        font-size: 12px;
    }
}

.artdv-singleline {
    align-self: center;
    padding: 25px 0;

    div {
        padding: 0!important;
    }
}

.artdv-multiline {
    padding: 15px 0;
}

.artdv-snackbar-btn {
    display: flex;
    align-items: center;
    padding: 15px;
}