<div id="artdv-snackbar-container-wrapper">
	<div class="artdv-snackbar-container" [ngClass]="'snackbar-' + snackbarClass">
		<div class="artdv-snackbar-content" [ngClass]="!!snackbarMsg().text ? 'artdv-multiline' : 'artdv-singleline'">
			<div class="artdv-snackbar-title">
				<div><i class="{{snackbarIcon}}"></i></div>
				<h4>{{snackbarMsg().title}}</h4>
			</div>
			@if (!!snackbarMsg().text) {
				<div class="artdv-snackbar-text">
					{{snackbarMsg().text}}
				</div>
			}
		</div>
		@if (!snackbarMsg().autoClose) {
			<div class="artdv-snackbar-btn">
				<i
					class="icon-CloseX"
					(click)="close()"
					(keydown.enter)="close()"
					[attr.aria-disabled]="true"
				></i>
			</div>
		}
	</div>
</div>