@use '../../../../stylesheets/utilities' as sass;


#artdv-snackbar-container-wrapper {
    border: 5px solid var(--theme-snackbar-bg);
    border-radius: 25px;
    // margin: 25px;
}

.artdv-snackbar-container {
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-snackbar-bg);
    border-radius: 20px;
    border-color: var(--theme-snackbar-divider);
    border-width: 1px;
    border-top-style: inset;
    border-left-style: inset;
    border-right-style: outset;
    border-bottom-style: outset;
}

.snackbar-error {
    span,
    i {
        color: var(--theme-snackbar-error);
    }
}
.snackbar-info {
    span,
    i {
        color: var(--theme-snackbar-info);
    }
}
.snackbar-success {
    span,
    i {
        color: var(--theme-snackbar-success);
    }
}
.snackbar-warning {
    span,
    i {
        color: var(--theme-snackbar-warning);
    }
}

.artdv-snackbar-content {
    display: flex;
    flex-direction: column;
    
    .artdv-snackbar-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 5px 0;

        div {
            display: flex;
            align-items: center;
            margin-left: 15px;
            align-content: center;

            i {
                filter: brightness(1.5);
            }
        }
        h4 {
            padding: 0 15px;
            margin-block: 0;
            margin-inline: 0;
            text-transform: uppercase;
        }
    }
    .artdv-snackbar-text {        
        padding: 0 15px;
        margin-block: 0;
        margin-inline: 0;
        font-size: 12px;
        overflow-wrap: anywhere;
    }
}

.artdv-singleline {
    align-self: center;
    padding: 25px 0;

    div {
        padding: 0!important;
    }
}

.artdv-multiline {
    padding: 15px 0;
}

.artdv-snackbar-btn {
    display: flex;
    align-items: center;
    padding: 15px;
    border-left: 1px inset var(--theme-snackbar-divider);
    
    i {
        cursor: pointer;
        filter: brightness(1.5);
    }

    i:hover {
        filter: opacity(0.6);
    }
}