<artdv-imgfullscale 
    [imgPath]="storageDomain + '/' + currentPath" 
    [isActive]="isFullscale"
    (fullscaleChanged)="navigateFullscale($event)"
></artdv-imgfullscale>
<section class="artdv-archive">
    <header>
        <h1>{{'modules.archive.title' | translate}}</h1>
    </header>
    <div class="artdv-head-message">
        <p>
            {{'modules.archive.message' | translate}}
        </p>
    </div>
    <div class="artdv-archive-content">
        <div class="artdv-archive-entry" *ngFor="let news of newsCollection">
            @defer(on viewport) { <img src="{{storageDomain + '/' + (news.gallery !== null ? news.thumbnail_path_gallery : news.thumbnail_path) }}" alt="404-picture-not-found">
            <div class="artdv-archive-wrapper">                
                <div class="artdv-archive-text">
                    <h3>{{news.title}}</h3>
                    <span>{{('modules.archive.creation' | translate) + ': ' + (news.created_on | dateFormat:'dd.mm.yyyy')}}</span>
                    <p>{{news.content}}</p>
                    <i class="icon-Zoom"
                        [attr.aria-disabled]="true"
                        (click)="navigateFullscale(true, news)"
                        (keydown.enter)="navigateFullscale(true, news)"
                    ></i>
                </div>
            </div> } 
            @placeholder {
                <img class="artdv-loading" src="/assets/loading.gif" alt="loading...">
            }
        </div>
    </div>
    <artdv-loading-animation [ngClass]="isLoadingResponse ? 'artdv-visible' : 'artdv-hidden'"></artdv-loading-animation>
</section>