@use '../../../stylesheets/utilities' as sass;


header {
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-image: url("/assets/color-bg3.png");
    background-position: center;
    background-repeat: no-repeat;
    
    h1 {
        font-size: clamp(25px, 5vw, 90px);
        margin-bottom: 0;
    }

    span {
        font-family: 'Custom-RonySiswadi', Fallback, sans-serif;
        font-size: clamp(22px, 4.5vw, 80px);
    }

    img {
        filter: var(--theme-signature-filter);
        width: clamp(30px, 4.2vw, 100px);
    }
}

.agal-home-top-img {
    $studio-margin-right: sass.$comp-padding-medium;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: sass.$comp-padding-medium 0;
    background-color: var(--theme-body-bg);
    border-top: solid 3px var(--theme-highlight-body);
    border-bottom: solid 3px var(--theme-highlight-body);
    
    img {
        width: calc(100% - (sass.$comp-padding-big * 4));
        aspect-ratio: 16 / 9;
        padding: 5px;
        margin-right: $studio-margin-right;
        border: solid 3px var(--theme-contrast-anchor);
    }
}
