@use '../../../stylesheets/utilities' as sass;


$col: var(--theme-body-text);

header {
    padding: 200px 0;

    background-image: url("/assets/color-bg3.png");
    background-position-x: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: -5px;

    img {
        filter: var(--theme-signature-filiter);
        width: 35vw;
        transform: rotate(-2.5deg);
    }
}

.agal-home-top-img {
    $studio-margin-right: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: sass.$comp-padding-medium 0;
    background-color: var(--theme-body-bg);
    border-top: solid 3px var(--theme-highlight-body);
    border-bottom: solid 3px var(--theme-highlight-body);
    
    img {
        width: calc(100% - (sass.$comp-padding-big * 4));
        aspect-ratio: 16 / 9;
        padding: 5px;
        margin-right: $studio-margin-right;
        border: solid 3px var(--theme-contrast-anchor);
    }
}
