<section class="agal-home">
    <div class="agal-top-header">
        <h1>Daniela Varga</h1>
    </div>
    <div class="agal-home-top-img">
        <img src="assets/studio.png" alt="404-picture-not-found">
    </div>
    <div class="agal-home-news-carousel">
        <!-- holding section to rotate in carousel -->
        <div class="agal-home-news-wrapper">
            <div class="agal-home-news-img">
                <img src="assets/placeholder-portrait.png" alt="404-picture-not-found">
            </div>
            <div class="agal-home-news-text-wrapper">
                <div class="agal-home-news-text-header">
                    <h3>obj.title</h3>
                </div>
                <div class="agal-home-news-text-content">
                    <p>
                        obj.text
                    </p>
                </div>
            </div>
        </div>
        TODO(yqni13): carousel missing!
    </div>
</section>