@use '../../../stylesheets/utilities' as sass;


.agal-home-top-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: sass.$comp-padding-medium 0;
    background-color: var(--theme-highlight-body);

    img {
        width: calc(100% - (sass.$comp-padding-medium * 2));
        aspect-ratio: 16 / 9;
    }
}
