<section class="artdv-about">
    <header>
        <h1>{{'modules.about.title' | translate}}</h1>
    </header>
    <div class="artdv-about-content">
        <div id="artdv-about-part1" class="artdv-about-indented">
            <div id="artdv-about-image1">
                <div id="artdv-about-image1-wrapper">
                    <img src="/assets/about/about_01.webp" alt="404-picture-not-found">
                </div>
            </div>
            <div id="artdv-about-part1-text">
                <div id="artdv-about-text1">
                    <p>
                        {{'modules.about.content.block1' | translate}}
                    </p>
                </div>
                <br>
                <div id="artdv-about-text2">
                    <p>
                        {{'modules.about.content.block2' | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div id="artdv-about-part2" class="artdv-about-indented">
            <div id="artdv-about-part2-text">
                <div id="artdv-about-text2">
                    <p>
                        {{'modules.about.content.block3' | translate}}
                    </p>
                </div>
            </div>
            <div id="artdv-about-image2">
                <div id="artdv-about-image2-wrapper">
                    <img src="/assets/about/about_02.webp" alt="404-picture-not-found">
                </div>
            </div>
        </div>
        <div id="artdv-about-part3">
            <div id="artdv-about-part3-text">
                <img src="/assets/about/about_03.webp" alt="404-not-found">
                <p>
                    {{'modules.about.content.block4' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>