<section class="artdv-about">
    <header>
        <h1>{{'modules.about.title' | translate}}</h1>
    </header>
    <div class="artdv-about-content">
        <div id="artdv-about-part1">
            <div id="artdv-about-image1">
                <div id="artdv-about-image1-wrapper">
                    <img src="assets/profile2.jpg" alt="404-picture-not-found">
                </div>
            </div>
            <div id="artdv-about-part1-text">
                <div id="artdv-about-text1">
                    <p>
                        {{'modules.about.content.block1' | translate}}
                    </p>
                </div>
                <br>
                <div id="artdv-about-text2">
                    <p>
                        {{'modules.about.content.block2' | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div id="artdv-about-part2">
            <div id="artdv-about-part2-text">
                <div id="artdv-about-text2">
                    <p>
                        {{'modules.about.content.block3' | translate}}
                    </p>
                </div>
            </div>
            <div id="artdv-about-image2">
                <div id="artdv-about-image2-wrapper">
                    <img src="assets/background/home_bg_03.jpg" alt="404-picture-not-found">
                </div>
            </div>
        </div>
        <div id="artdv-about-part3">
            <div id="artdv-about-part3-text">
                <p>
                    {{'modules.about.content.block4' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>