@use '../../../../../stylesheets/utilities' as sass;


.artdv-text-wrapper {
    // use ngStyle for width to style lvl above => <artdv-textinput>
    display: grid;
    
    input {
        width: calc(100% - 12px);
        padding: 8.5px sass.$comp-form-padding;
    }
}