@use '../../../../stylesheets/utilities' as sass;

.agal-paintingcard-wrapper {
    border: solid 2px grey;
    width: 450px;
    height: 600px;
    margin: 25px;
    position: relative;
}

.agal-paintingcard-image {
    display: flex;
    justify-content: center;
    margin: sass.$comp-padding-small;
    img {
        width: 200px;
    }
}

.agal-paintingcard-content {
    width: 100%;
    height: auto;

    .agal-paintingcard-property {
        display: flex;
        flex-direction: row;
        margin: 15px 0;

        .agal-paintingcard-key {
            width: 25%;
            text-align: end;
        }
        .agal-paintingcard-value {
            width: 75%;
            text-align: start;
            padding: 0 15px;

            a {
                cursor: pointer;
                color: sass.$color-nature-green;
                font-weight: bold;
            }
        }
    }
}
