<section class="artdv-gallery artdv-scroll" #gallerySection>
	<header>
		<h1>{{'modules.gallery.preview.title' | translate}}</h1>
	</header>
	@if (!isLoadingResponse) {
		<nav class="artdv-gallery-nav">
			<div class="artdv-gallery-nav-row">
				<a
					class="artdv-gallery-nav-type"
					[attr.aria-disabled]="true"
					(click)="onGenreChange('gallery')"
					(keydown.enter)="onGenreChange('gallery')"
					[ngClass]="activeGenre === 'gallery' ? 'artdv-active-route' : ''"
				>{{'modules.gallery.overview' | translate}}</a>
			</div>
			<div class="artdv-gallery-nav-row">
				@for (genre of artGenres | keyvalue; track genre) {
					<a
						class="artdv-gallery-nav-type"
						[attr.aria-disabled]="true"
						(click)="onGenreChange(genre.value)"
						(keydown.enter)="onGenreChange(genre.value)"
						[ngClass]="activeGenre === genre.value ? 'artdv-active-route' : ''"
					>{{'shared.enum.art-genre.' + genre.key | translate}}</a>
				}
			</div>
		</nav>
	}
	@if (!isLoadingResponse) {
		<div class="artdv-gallery-content">
			@if (activeGenre !== '') {
				@for (artwork of modifiedList; track artwork) {
					<div class="artdv-gallery-cards">
						@if (reloadFlag) {
							<artdv-imgpreload
								[entry]="artwork"
								[artworkList]="galleryList"
								[activeGenre]="activeGenre"
							></artdv-imgpreload>
						}
					</div>
				}
			}
			@if (modifiedList.length === 0) {
				<div class="artdv-gallery-nodata">
					{{'common.unavailable.db-data-404' | translate}}
				</div>
			}
			@if (modifiedList.length !== 0 && activeGenre === '') {
				<div class="artdv-gallery-nofilter">
					{{'common.unavailable.no-filter' | translate}}
				</div>
			}
		</div>
	}
	<artdv-loading-animation [ngClass]="isLoadingResponse ? 'artdv-visible' : 'artdv-hidden'"></artdv-loading-animation>
</section>