<footer>
    <div class="agal-footer-credits">
        <h3>Daniela Varga</h3>
        <div class="agal-copyright-wrapper">
            <i class="icon-Copyright"></i>
            <a class="agal-anchor" href="{{creatorURL}}" target="_blank">yqni13</a>
            <span>. All rights reserved.</span>
        </div>
    </div>
    <div class="agal-footer-links">
        <div class="agal-footer-links-connection">
            <h4>Connection</h4>
            <ul>
                <li *ngFor="let route of connectRoutes">
                    <span
                        class="agal-footer-routes"
                        [attr.aria-disabled]="true"
                        routerLink="{{ route.path }}"
                    >{{ route.data?.['title'] }}</span>
                </li>
                <li>
                    <a
                        class="agal-footer-routes"
                        href="{{ socialmediaURL }}"
                        target="_blank"
                    >Instagram</a>
                </li>
            </ul>
        </div>
        <div class="agal-footer-links-information">
            <h4>Information</h4>
            <ul>
                <li *ngFor="let route of infoRoutes">
                    <span
                        class="agal-footer-routes"
                        [attr.aria-disabled]="true"
                        routerLink="{{ route.path }}"
                    >{{ route.data?.['title'] }}</span>
                </li>
            </ul>
        </div>
    </div>
</footer>