@use '../../../../stylesheets/utilities' as sass;

section {
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-highlight-body);
}

.agal-footer-credits {
    width: 55%;
    height: 100%;
    display: block;
    align-content: center;
    
    h3,
    p {
        padding-left: sass.$comp-padding-big;
        color: sass.$color-active-route;
    }

    .icon-Copyright {
        /* TODO(yqni13): needs to be adapted to font-size via clamp*/
        /* clamp size and for width +1, height +2 or similar */
        width: 15px;
        height: 15px;
    }
}

.agal-footer-links {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: solid 2px sass.$color-tradewind-blue;

    h4 {
        color: var(--theme-highlight-text);
        text-transform: uppercase;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            margin: 0;
            padding: 5px 0;
            
            span,
            a {
                color: var(--theme-highlight-text);
                text-decoration: none;
            }
        }
        
    }

    .agal-footer-links-connection,
    .agal-footer-links-information {
        margin: 0 sass.$comp-padding-small;
        height: 150px;
    }
}

