@use '../../../stylesheets/utilities' as sass;


.agal-prints-content {
    display: flex;
    justify-content: center;
    width: 100%;

    .agal-prints-message {
        width: 50%;
        margin: sass.$comp-padding-medium 0;
    }
}