@use '../../../../stylesheets/utilities' as sass;


.agal-carousel-wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.agal-carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.agal-carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.agal-carousel-default-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.agal-carousel-default-img {
    width: calc(50% + sass.$comp-padding-medium);
    display: flex;
    justify-content: center;
    
    img {
        object-fit: cover;
        width: 25vw;
        height: 25vw;
        padding: 3px;
        filter: drop-shadow(0px 0px 20px var(--theme-submenu-route));
    }
}

.agal-carousel-default-text-wrapper {
    width: calc(50% - sass.$comp-padding-medium);
    padding: 0 sass.$comp-padding-medium;
}

.agal-carousel-default-text-header {
    h3 {
        font-size: sass.$home-news-header-size;
        color: var(--theme-contrast-anchor);
        margin-bottom: 0;
    }
    span {
        color: var(--theme-body-text);
        margin-left: 2.5px;
        font-size: 12px;
    }
}

.agal-carousel-default-text-content {
    p {
        text-align: justify;
        font-size: sass.$home-news-content-size;
        margin: 35px 0;
    }
}

.agal-carousel-arrows {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 50px;
    bottom: sass.$comp-padding-small;
    
    .icon-Arrow {
        cursor: pointer;
        height: sass.$home-arrow-size;
        width: sass.$home-arrow-size;
        padding: 0 2.5px;

        &:hover {
            background-color: var(--theme-contrast-anchor);
        }
    }

    .agal-arrow-left {
        transform: rotate(-90deg);
    }

    .agal-arrow-right {
        transform: rotate(90deg);
    }
}