@use '../../../../stylesheets/utilities' as sass;


.agal-imgfullscale-wrapper {
    width: 100%;
    height: 100vh;
    background-color: sass.$color-fullscale-bg;
    position: fixed;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;

    img {
        $border-img: 3px;
        $padding-img: 3px;
        $puffer-space: 3px;
        $gap-sum: calc(($border-img * 2) + ($padding-img * 2) + $puffer-space);

        max-width: calc(100vw - $gap-sum);
        max-height: calc(100vh - $gap-sum);
        object-fit:contain;
        padding: $padding-img;
        border: solid $border-img sass.$color-dark-grey;
        border-radius: 3px;
    }
}