/* custom colors & theme definitions */

$color-ice-white: #f0f8ff;
$color-rich-black: #020d19;
$color-deep-blue: #011222;

$color-warning-red: #ca2b2b;
$color-accept-green: #127412;
$color-gold-yellow: #ffd500;
$color-ocean-blue: #0000cc;
$color-nature-green: #116600;

