/* custom colors */

$color-ice-white: #f0f8ff;
$color-rich-black: #020d19;
$color-deep-blue: #011222;

$color-warning-red: #ca2b2b;
$color-accept-green: #127412;
$color-gold-yellow: #ffd500;
$color-ocean-blue: #0000cc;
$color-nature-green: #116600;
$color-light-grey: #7e7e7e;
$color-dark-grey: #464646;
$color-active-route: #92572ce6;


/* custom definitions */
$font-text-size: clamp(20px, 2.5vw, 30px);