/* custom device sizes */
$device-desktop-xk: 1440px;
$device-tablet-landscape: 1024px;
$device-phone-landscape: 768px;
$device-phone-portrait: 500px;
$device-small-any: 350px;


/* custom colors */
$color-ice-white: #f0f8ff;
$color-rich-black: #020d19;
$color-deep-blue: #011222;
$color-contrast-dark: #071c2fd3;

$color-warning-red: #ca2b2b;
$color-query-red: #ba2323f8;
$color-accept-green: #209720;
$color-gold-yellow: #ffd500;
$color-ocean-blue: #0000cc;
$color-nature-green: #116600;
$color-smalt-blue: #1a383e;
$color-light-grey: #7e7e7e;
$color-dark-grey: #333;

$color-route-dark: #92572ce6;
$color-route-light: #E69900;

$color-forest-green: #002B33;
$color-midnight-green: #01353f;
$color-eggshell-white: #fae3b9de;


/* custom definitions */
$font-text-size: clamp(16px, 1.2vw, 25px);
$font-text-family: "Montserrat", sans-serif;

$home-news-header-size: clamp(20px, 2.3vw, 38px);
$home-news-content-size: clamp(12px, 1.6vw, 24px);
$home-arrow-size: 30px;

$contact-input-margin: 5px;
$contact-form-width: 400px;

$comp-padding-small: 25px;
$comp-padding-medium: 50px;
$comp-padding-big: 100px;

/* use padding variables to highlight relation to used padding values in divs */
$faq-box-height: calc($comp-padding-small * 2);
