<div class="agal-gallerydetails-fullscale" *ngIf="isFullscale">
    <img src="{{card?.path}}" alt="404-picture-not-found">
    <div class="agal-gallerydetails-fullscale-exit">
        <i
            class="icon-CloseX"
            [attr.aria-disabled]="true"
            (click)="navigateFullscale(false)"
            (keydown.enter)="navigateFullscale(false)"
        ></i>
    </div>
</div>
<section>
    <div class="agal-gallerydetails-tools">
        <div class="agal-detail-tools back">
            <a 
                class="agal-back-arrow"
                [attr.aria-disabled]="true"
                (click)="navigateToGallery()"
                (keydown.enter)="navigateToGallery()"
            >back</a>
        </div>
        <div class="agal-detail-tools zoom">
            <i 
                class="icon-Zoom" 
                [attr.aria-disabled]="true"
                (click)="navigateFullscale(true)"
                (keydown.enter)="navigateFullscale(true)"
            ></i>
        </div>
    </div>
    <div class="agal-gallerydetails-img">
        <div class="agal-gallerydetails-img-wrapper">
            <img src="{{card?.path}}" alt="404-picture-not-found">
        </div>
    </div>
    <div class="agal-gallerydetails-content">
        <div class="agal-gallerydetails-property" id="card-title">
            <div class="agal-gallerydetails-key">
                <label for="card-title">Title:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.title === null ? '--' : card?.title}}</span>
            </div>
        </div>
        <div class="agal-gallerydetails-property" id="card-referenceNr">
            <div class="agal-gallerydetails-key">
                <label for="card-referenceNr">Reference:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.referenceNr}}</span>
            </div>
        </div>
                
        <div class="agal-gallerydetails-property" id="card-price">
            <div class="agal-gallerydetails-key">
                <label for="card-price">Price:</label>
            </div>
            <div class="agal-gallerydetails-value" *ngIf="card?.price && card?.price !== 0">
                <span>€ {{card?.price | floatPrecision: 2}}</span>
            </div>
            <div class="agal-gallerydetails-value" *ngIf="card?.price === 0">
                <span class="agal-gallerydetails-sold">sold</span>
            </div>
            <div class="agal-gallerydetails-value" *ngIf="card?.price === null">
                <a
                    class="agal-anchor"
                    [routerLink]="'/contact'"
                    [attr.aria-disabled]="true"
                    (click)="navigateToContactWithData()"
                    (keydown.enter)="navigateToContactWithData()"
                >request price</a>
            </div>
        </div>
        <div class="agal-gallerydetails-property" id="card-type">
            <div class="agal-gallerydetails-key">
                <label for="card-type">Type:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.type}}</span>
            </div>
        </div>
        <div class="agal-gallerydetails-property" id="card-measurements">
            <div class="agal-gallerydetails-key">
                <label for="card-measurements">Dimensions:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.measurementsWxH === null ? '--' : card?.measurementsWxH | dimensionFormat}}</span>
            </div>
        </div>
        <div class="agal-gallerydetails-divider"></div>
        <div class="agal-gallerydetails-property" id="card-tags">
            <div class="agal-gallerydetails-key">
                <label for="card-tags">Tags:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span class="agal-tags" *ngFor="let tag of card?.tags">{{tag}}</span>
                <span *ngIf="card?.tags === null">--</span>
            </div>
        </div>
        <div 
            class="agal-gallerydetails-property" 
            id="card-comment" 
            [ngClass]="card?.comment === null ? '' : 'agal-visible'"
        >
            <div class="agal-gallerydetails-key">
                <label for="card-comment">Comment:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.comment === null ? '--' : '"' + card?.comment + '"'}}</span>
            </div>
        </div>
        <div class="agal-gallerydetails-property" id="card-technique">
            <div class="agal-gallerydetails-key">
                <label for="card-technique">Technique:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.technique === null ? '--' : card?.technique}}</span>
            </div>
        </div>
        <div class="agal-gallerydetails-property" id="card-year">
            <div class="agal-gallerydetails-key">
                <label for="card-date">Date:</label>
            </div>
            <div class="agal-gallerydetails-value">
                <span>{{card?.date === null ? '--' : card?.date}}</span>
            </div>
        </div>
    </div>
</section>