@use '../../../../stylesheets/utilities' as sass;


.artdv-nav-bar {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: var(--theme-nav-bg);
    justify-content: center;
    
    ul {
        overflow: auto;
        margin-block: 0;
        padding-inline: 0;
        display: flex;
        align-items: center;
        list-style: none;

        li {
            text-decoration: none;
            display: block;
            text-wrap: wrap;
            text-align: center;
            
            span {
                font-size: sass.$font-text-size;
                cursor: pointer;
                color: var(--theme-body-text);
            }
            
            .artdv-nav-routes {
                position: relative;
    
                &:after {
                    content: '';
                    left: 0;
                    bottom: -2.5px;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: var(--theme-body-text);
                    transform: scaleX(0);
                    transition: transform 0.25s;
                    transform-origin: center;
                }
    
                &:hover::after {
                    transform: scaleX(1);
                }
                
                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }
}

.artdv-nav-logo {
    width: calc(var(--view-nav-width) / 2);
    filter: var(--theme-signature-filter);
    cursor: pointer;
}

.lightMode {
    color: sass.$color-route-light!important;
}

.darkMode {
    color: sass.$color-light-grey!important;
}

