<ng-container *artdvVar="ngControl as control">
    <div class="artdv-validation-errors" *ngIf="control.invalid && (control.dirty || control.touched)">
        <div *ngIf="control.hasError('required')">
            {{ 'validation.frontend.form.required' | translate: {fieldName: fieldName} }}
        </div>
        <div *ngIf="control.hasError('email')">
            {{ 'validation.frontend.form.email-invalid' | translate: {fieldName: fieldName} }}
        </div>
        <div *ngIf="control.hasError('invalidRefNr')">
            {{ 'validation.frontend.form.refnr-notexist' | translate: {fieldValue: control.value} }}
        </div>
        <div *ngIf="control.hasError('invalidRefNrLength')">
            {{ 'validation.frontend.form.refnr-length' | translate }}
        </div>
        <div *ngIf="control.hasError('invalidPublicationContent')">
            {{ 'validation.frontend.form.publication-invalid' | translate }}
        </div>
        <div *ngIf="control.hasError('invalidPublicationYear')">
            {{ 'validation.frontend.form.publication-length' | translate }}
        </div>
    </div>
</ng-container>