<section class="agal-gallery">
    <header>
        <h1>my art</h1>
    </header>
    <nav class="agal-gallery-nav">
        <div class="agal-gallery-nav-row">
            <a
                class="agal-gallery-nav-type"
                [attr.aria-disabled]="true"
                (click)="selectGenre('gallery')"
                (keydown.enter)="selectGenre('gallery')"
                [ngClass]="activeGenre === 'gallery' ? 'agal-active-route' : ''"
            >GALLERY</a>
        </div>
        <div class="agal-gallery-nav-row">
            <a
                *ngFor="let nav of paintingGenres"
                class="agal-gallery-nav-type"
                [attr.aria-disabled]="true"
                (click)="selectGenre(nav)"
                (keydown.enter)="selectGenre(nav)"
                [ngClass]="activeGenre === nav ? 'agal-active-route' : ''"
            >{{nav}}</a>
        </div>
    </nav>
    <div class="agal-gallery-content">
        <div class="agal-gallery-cards" *ngFor="let card of paintingsDisplayedByGenre">
            @defer(on viewport) {<div class="agal-gallery-cards-wrapper">
                <img 
                    src="{{card.path}}" 
                    alt="404-picture-not-found"
                    (click)="navigateToDetail(card.referenceNr)"
                    (keydown.enter)="navigateToDetail(card.referenceNr)"
                    [attr.aria-disabled]="true"
                >
            </div>} 
            @placeholder {
                <img class="agal-loading" src="/assets/loading.gif" alt="loading...">
            }
        </div>
        <div class="agal-gallery-nodata" *ngIf="paintingsDisplayedByGenre.length === 0">
            No paintings found for this genre.
        </div>
    </div>
</section>