@use '../../../stylesheets/utilities' as sass;


.agal-gallery-nav {
    display: flex;
    justify-content: center;

    a {
        text-transform: uppercase;
        margin: calc(sass.$comp-padding-small / 2);
        padding: 10px 15px;
        cursor: pointer;
        border: solid 1px var(--theme-submenu-route);
        border-radius: 5px;
    }

    .agal-active-route {
        border-color: var(--theme-active-route);
    }
}

.agal-gallery-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: sass.$comp-padding-medium 0;
    pointer-events: none;

    .agal-gallery-cards {
        margin: 12px;
        pointer-events:all; /* block hover brightness when hovering inbetween */

        .agal-gallery-cards-wrapper {

            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                padding: 2px;
                border: solid 2px var(--theme-submenu-route);
        
                &:hover {
                    cursor: pointer;
                    animation-name: brighten-up;
                    animation-duration: 1s;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                }
            }         
        }
    }

    &:hover .agal-gallery-cards:not(:hover) {
        filter: brightness(45%);
    }

    .agal-gallery-cards:hover {
        filter: drop-shadow(0px 0px 15px var(--theme-contrast-anchor));
    }
}

.agal-gallery-nodata {
    margin: sass.$comp-padding-big 0;
    color: sass.$color-light-grey;
    font-size: 30px;
    font-style: italic;
}


@keyframes brighten-up {
    from {filter: brightness(1)}
    to {filter: brightness(1.4)}
}