@use '../../../stylesheets/utilities' as sass;


.artdv-gallery-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .artdv-gallery-nav-row {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    a {
        text-transform: uppercase;
        margin: calc(sass.$comp-padding-small / 2);
        padding: 10px 15px;
        cursor: pointer;
        border: solid 1px var(--theme-submenu-route);
        border-radius: 5px;
    }

    .artdv-active-route {
        border-color: var(--theme-active-route);
    }
}

.artdv-gallery-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: sass.$comp-padding-medium calc(sass.$comp-padding-small + sass.$top-reset-size);
    pointer-events: none;

    .artdv-gallery-cards {
        margin: 0 6px 6px 6px;
        pointer-events:all; /* block hover brightness when hovering inbetween */
    }

    &:hover .artdv-gallery-cards:not(:hover) {
        filter: brightness(45%);
    }

    .artdv-gallery-cards:hover {
        filter: drop-shadow(0px 0px 15px var(--theme-contrast-anchor));
    }
}

.artdv-gallery-nodata {
    margin: sass.$comp-padding-big 0;
    color: sass.$color-light-grey;
    font-size: 30px;
    font-style: italic;
}
