@use '../../../../../stylesheets/utilities' as sass;


$select-left-padding: calc(sass.$comp-form-padding - sass.$select-intern-leftpadding);

.artdv-select-wrapper {
    // use ngStyle for width to style lvl above => <artdv-selectinput>
    display: grid;
    margin-right: -1px; // to adapt calculating width as last-right form element
    
    select {
        width: calc(100% - sass.$select-intern-leftpadding);
        padding: 7.5px 0 7.5px $select-left-padding;
        cursor: pointer;
    }
}