<section class="agal-faq">
    <header>
        <h1>{{'modules.faq.title' | translate}}</h1>
    </header>
    <div class="agal-head-message">
        <p>
            {{'modules.faq.message' | translate}} 
            <a
                class="agal-faq-link agal-anchor"
                [attr.aria-disabled]="true"
                href="/contact"
            >{{'common.footer.content.contact' | translate}}</a>
        </p>
    </div>
    <div class="agal-faq-content">
        <div class="agal-faq-wrapper">
            <div class="agal-faq-coll-box faq-header">
                <label for="agal-faq-header-close">menu</label>
            </div>
            <div class="agal-faq-coll" *ngFor="let element of data | keyvalue; index as i">
                <input type="radio" name="collapsable" id="agal-faq-coll-{{i}}">
                <div class="agal-faq-coll-box">
                    <label class="agal-faq-coll-title" for="agal-faq-coll-{{i}}">{{element.key}}</label>
                    <label class="agal-faq-coll-close" for="agal-faq-header-close"></label>
                    <div class="agal-faq-coll-content">{{element.value}}</div>
                </div>
            </div>
            <input type="radio" name="collapsable" id="agal-faq-header-close">
        </div>
    </div>
</section>