<section class="artdv-home">
    <header>
        <div class="artdv-home-header-wrapper">
            <h1>{{'modules.home.title' | translate}}</h1>
            <span>Daniela Varga</span>
        </div>
    </header>
    <ng-container>
        <artdv-carousel [isLoadingResponse]="isLoadingResponse" [entries]="newsCollection"></artdv-carousel>
    </ng-container>
    <div class="artdv-home-top-img">
        <img src="assets/background/home_bg_03.webp" alt="404-picture-not-found">
    </div>
</section>