@use '../../../stylesheets/utilities' as sass;


header {
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-image: url("/assets/background/home_bg_01.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: sass.$color-ice-white;

    .artdv-home-header-wrapper {
        border-radius: 5px;
        backdrop-filter: blur(1px);
    }
    
    h1 {
        font-size: clamp(35px, 7vw, 90px);
        margin-bottom: 0;
        color: sass.$color-ice-white;
    }

    span {
        font-family: 'Custom-RonySiswadi', Fallback, sans-serif;
        font-size: clamp(28px, 6vw, 80px);
    }
}

artdv-carousel {
    border-top: solid 3px var(--theme-highlight-body);
    border-bottom: solid 3px var(--theme-highlight-body);
}

.artdv-home-top-img {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    
    img {
        width: 100%;
    }
}
