@use '../../../stylesheets/utilities' as sass;


header {
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-image: url("/assets/color-bg3.webp");
    background-size: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    color: sass.$color-rich-black;
    
    h1 {
        font-size: clamp(35px, 7vw, 90px);
        margin-bottom: 0;
    }

    span {
        font-family: 'Custom-RonySiswadi', Fallback, sans-serif;
        font-size: clamp(28px, 6vw, 80px);
    }
}

artdv-carousel {
    border-top: solid 3px var(--theme-highlight-body);
    border-bottom: solid 3px var(--theme-highlight-body);
}

.artdv-home-top-img {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    
    img {
        width: 100%;
    }
}
