<section class="artdv-home">
    <header>
        <div class="artdv-home-header-wrapper">
            <h1>{{'modules.home.title' | translate}}</h1>
            <span>Daniela Varga</span>
        </div>
    </header>
    <ng-container *ngIf="isLoadingResponse || newsCollection.length > 0">
        <artdv-carousel [isLoadingResponse]="isLoadingResponse" [entries]="newsCollection"></artdv-carousel>
    </ng-container>
    <ng-container *ngIf="!isLoadingResponse && newsCollection.length === 0">
        <div class="artdv-home-news-placeholder">
            <span class="artdv-home-placeholder-span">{{'modules.home.placeholder' | translate}}</span>
            <span class="artdv-author">
                <a href="{{authorLink}}" target="_blank">{{'shared.assets.author' | translate}}</a>
            </span>
        </div>
    </ng-container>
    <div class="artdv-home-top-img">
        <img src="assets/background/home_bg_03.webp" alt="404-picture-not-found">
    </div>
</section>