@use '../../../stylesheets/utilities' as sass;


header {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;

    background-image: url("/assets/background/home_bg_01.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    color: sass.$color-ice-white;
    
    h1 {
        font-size: clamp(35px, 7vw, 110px);
        font-weight: 600;
        margin-bottom: 0;
        color: sass.$color-ice-white;
        text-shadow: 1px 1px sass.$color-rich-black;
    }
    
    span {
        font-family: 'Custom-RonySiswadi', Fallback, sans-serif;
        font-size: clamp(28px, 6vw, 90px);
        font-weight: 600;
        text-shadow: 1px 1px sass.$color-rich-black;
    }
}

artdv-carousel {
    border-top: solid 3px var(--theme-highlight-body);
    border-bottom: solid 3px var(--theme-highlight-body);
}

.artdv-home-top-img {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    
    img {
        width: 100%;
    }
}
