.artdv-gallery-cards-wrapper {

    img {
        width: 300px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        padding: 2px;
        border: solid 2px var(--theme-submenu-route);

        &:hover {
            cursor: pointer;
            animation-name: brighten-up;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            border: solid 2px var(--theme-contrast-anchor);
        }
    }         
}

.artdv-loading {
    width: 100px!important;
    height: 100px!important;
    padding: 100px!important;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

@keyframes brighten-up {
    from {filter: brightness(1)}
    to {filter: brightness(1.3)}
}