/* You can add global styles to this file, and also import other style files */
@use 'stylesheets/utilities' as sass;

@forward 'stylesheets/defines.scss';
@forward 'stylesheets/icons.scss';
@forward 'stylesheets/media.scss';
@forward 'stylesheets/forms.scss';


html {
    cursor: context-menu;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    scroll-behavior: smooth;
}

body {
    background: var(--theme-body-bg);
    color: var(--theme-body-text);
    width: 100vw;
    height: 100%;
    margin: 0;
    top:0;
    font-family: sass.$font-text-family;
}

section {
    min-height: calc(100vh - var(--view-footer-height));
    height: auto;
    display: flex;
    flex-direction: column;
}

.artdv-active-route {
    color: var(--theme-active-route)!important;
    &:hover {
        opacity: 1!important;
    }
    &:hover::after,
    &:after {
        transform: none!important;
        width: 0%!important;
    }
}

header {
    display: flex;
    width: 100%;
    text-align: center; // needed for multiple lines on smaller device resolution
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(25px, 5vw, 60px);
    font-weight: normal;
    margin: sass.$comp-margin-h1 sass.$space25;
}

.artdv-head-message {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    width: 100%;
    display: flex;
    justify-content: center;
    
    p {
        width: 60vw;
        font-size: clamp(14px, 1.8vw, 17px);
    }
}

.artdv-button-submit {    
    background-color: sass.$color-ice-white;
    background-image: none;
    border: 1px solid sass.$color-light-grey;
    border-radius: 4px;
    box-shadow: sass.$color-light-grey 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--theme-contrast-anchor);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 8px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;

    &:focus {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        color: sass.$color-gold-yellow;
    }

    &:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
    }

    &:not([disabled]):active {
        box-shadow: sass.$color-light-grey 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }
}

input,
select,
textarea {
    border: solid 1px black;
    padding: 0 sass.$comp-form-padding;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    background-color: sass.$color-ice-white;
    font-family: sass.$font-text-family;
    text-overflow: ellipsis;
}

.artdv-visible {
    visibility: visible;
}

.artdv-hidden {
    visibility: hidden;
}

.artdv-anchor {
    cursor: pointer;
    font-weight: bold;
    color: var(--theme-contrast-anchor)!important;
}

.artdv-hidden-anchor {
    cursor: default;
    color: var(--theme-body-text)!important;
}

.artdv-query-value {
    textarea,
    select,
    input,
    span,
    a {
        color: var(--theme-nav-bg);
        font-weight: bold;
    }
}

.artdv-readonly {
    cursor: default;
    pointer-events: none;
}

/* 
    scrollbar definition 
    - overflow-y: scroll must stay active to keep scroll setback AND custom scrollbar working
    - change width dynamically wherever needed (app.component.ts checks route and adds className)
*/
.artdv-scroll-anchor {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%; // scrollbar-thumb doesn't work on height: auto
}

.artdv-scroll-anchor::-webkit-scrollbar {
    width: 0;
}

.artdv-scroll-wrapper::-webkit-scrollbar {
    width: 6px;
}

.artdv-scroll-anchor::-webkit-scrollbar-track {
    background-color: var(--theme-nav-bg);
}

.artdv-scroll-anchor::-webkit-scrollbar-thumb {
    background-color: var(--theme-body-text);
}

.artdv-scroll-anchor::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-contrast-anchor);
}

.artdv-author { // copyright link
    position: absolute;
    display: flex;
    align-self: end;
    justify-content: left;

    a {
        padding: sass.$space5 sass.$space15;
        text-decoration: none;
        cursor: help;
        font-size: 13px;
        color: sass.$color-rich-black;
        backdrop-filter: blur(1px);
    }
}