@use '../../../../stylesheets/utilities' as sass;


footer {
    height: var(--view-footer-height);
    display: flex;
    flex-direction: row;
    background-color: var(--theme-highlight-body);
}

.artdv-footer-credits {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    color: var(--theme-active-route);

    h3 {
        font-weight: normal;
    }
    
    .icon-Copyright {
        position: relative;
    }
}

.artdv-footer-links {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .artdv-footer-links-wrapper {
        /* height automatically realigns on 'longest' content */
        display: flex;
        flex-direction: row;
    }

    h4 {
        color: var(--theme-contrast-anchor);
        text-transform: uppercase;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            margin: 0;
            padding: 5px 0;
            
            span,
            a {
                color: var(--theme-contrast-anchor);
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.3;
                }
            }

            i {
                margin-left: 7px;
                color: var(--theme-contrast-anchor);
                aspect-ratio: 1 / 1;
            }
        }
        
        $icon-size-difference: 2px;
        .artdv-footer-language {
            position: relative;
            display: inline-flex;
            cursor: pointer;
            padding-top: $icon-size-difference;

            .artdv-footer-language-select {
                display: flex;
                align-items: center;
            }

            .artdv-footer-language-select:hover {
                opacity: 0.3;
                .artdv-footer-language-list:not(:hover) {
                    opacity: 1;
                }
            }

            span:hover {
                // disable basic hover effect of li>span
                opacity: 1;
            }

            .artdv-footer-language-list {
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: -5px;
                left: -5px;
                border: solid 2px var(--theme-nav-border);
                border-radius: 5px;
                padding: 15px 0;
                background-color: transparent;
                box-shadow: 0 4px 30px rbga(0, 0, 0, 0.1);
                backdrop-filter: blur(6.7px);
                -webkit-backdrop-filter: blur(6.7px);
                text-wrap: nowrap;

                .artdv-language-option-select {
                    padding: 10px 15px 30px 15px;
                    font-weight: bold;
                    cursor: default;
                }

                .artdv-language-options {
                    padding: 5px 0 5px 15px;
                    font-weight: bold;


                    &:hover {
                        opacity: 0.3;
                    }
                }
            }
        }
    }

    .artdv-footer-links-connection,
    .artdv-footer-links-information {
        margin: 0 sass.$comp-padding-small;
    }
}

