<section class="artdv-shipping">
    <header>
        <h1>{{'modules.shipping.title' | translate}}</h1>
    </header>
    <div class="artdv-shipping-content">
        <!-- PROCESS -->
        <div class="artdv-shipping-block" id="artdv-shipping-process">
            <div class="artdv-shipping-block-header">
                <h2>{{'modules.shipping.content.process.title' | translate}}</h2>
            </div>
            <div class="artdv-shipping-block-content">
                <div class="artdv-shipping-container-process">
                    <img src="{{blockProcess.img1}}" alt="404-not-found">
                    <span>{{'modules.shipping.content.process.text1' | translate}}</span>
                </div>
                <div class="artdv-shipping-container-process">
                    <img src="{{blockProcess.img2}}" alt="404-not-found">
                    <span>{{'modules.shipping.content.process.text2' | translate}}</span>
                </div>
                <div class="artdv-shipping-container-process">
                    <img src="{{blockProcess.img3}}" alt="404-not-found">
                    <span>{{'modules.shipping.content.process.text3' | translate}}</span>
                </div>
            </div>
        </div>

        <!-- SHIPMENT -->
        <div class="artdv-shipping-block" id="artdv-shipping-shipment">
            <div class="artdv-shipping-block-header">
                <h2>{{'modules.shipping.content.shipment.title' | translate}}</h2>
            </div>
        </div>

        <!-- DELIVERY DELAY -->
        <div class="artdv-shipping-block" id="artdv-shipping-delay">
            <div class="artdv-shipping-block-header">
                <h2>{{'modules.shipping.content.delay.title' | translate}}</h2>
            </div>
        </div>
        
        <!-- REFUND ON DAMAGE -->
        <div class="artdv-shipping-block" id="artdv-shipping-refund">
            <div class="artdv-shipping-block-header">
                <h2>{{'modules.shipping.content.refund.title' | translate}}</h2>
            </div>
        </div>
        
        <!-- ORDER NOT RECEIVED -->
        <div class="artdv-shipping-block" id="artdv-shipping-lost">
            <div class="artdv-shipping-block-header">
                <h2>{{'modules.shipping.content.lost.title' | translate}}</h2>
            </div>
        </div>
        
        <!-- PACKAGING -->
        <div class="artdv-shipping-block" id="artdv-shipping-packaging">
            <div class="artdv-shipping-block-header">
                <h2>{{'modules.shipping.content.packaging.title' | translate}}</h2>
            </div>
        </div>
    </div>
</section>