<div class="artdv-imgupload">
	@if (!fileInformation().hasFile && !existingImgPath()) {
		<div class="artdv-imgupload-upload-wrapper">
			<label
				for="artdv-imgupload-fileInput"
				(drop)="onFileDrop($event)"
				(dragover)="onDragOver($event)"
			>
			<span id="artdv-upload-btn-desc-main">upload image</span>
			<span id="artdv-upload-btn-desc-sub">drop/click here</span>
			<input
				type="file"
				accept="image/*"
				class="artdv-file-input-btn"
				id="artdv-imgupload-fileInput"
				(change)="onFileSelect($event)"
				#fileInput
			>
			<span id="artdv-upload-size-limit">limit: {{sizeFactorInMB}}MB</span>
			</label>
		</div>
	}
	@if (showValidationMessage || isEmptyOnSubmit()) {
		<span id="artdv-upload-valid-msg">
			{{'validation.frontend.img-upload.required' | translate}}
		</span>
	}
	@if (fileInformation().hasFile || existingImgPath()) {
		<div class="artdv-imgupload-preview-wrapper">
			<div class="artdv-imgupload-preview-container">
				@if (adminTarget() === AdminTargetEnum.GALLERY) {
					<artdv-imgframe [model]="frameModel()" [color]="frameColor()">
						<img
							src="{{existingImgPath() ? (storageDomain + '/' + existingImgPath()) : fileInformation().imagePreview}}"
							alt="404 not found"
						>
					</artdv-imgframe>
				}
				@if (adminTarget() !== AdminTargetEnum.GALLERY) {
					<img
						src="{{existingImgPath() ? (storageDomain + '/' + existingImgPath()) : fileInformation().imagePreview}}"
						alt="404 not found"
					>
				}
				<div
					class="artdv-imgupload-close-wrapper"
					(click)="removeImage()"
					(keydown.enter)="removeImage()"
					[attr.aria-disabled]="true"
				>
					<i class="icon-CloseX"></i>
				</div>
			</div>
		</div>
	}
</div>