/* You can add global styles to this file, and also import other style files */
@use 'stylesheets/utilities' as sass;

@import 'stylesheets/defines.scss';
@import 'stylesheets/icons.scss';
@import 'stylesheets/media.scss';

html {
    cursor: context-menu;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body {
    background: var(--theme-body-bg);
    color: var(--theme-body-text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    top:0;
    font-family: sass.$font-text-family;
}

section {
    margin: 0 0 0 var(--view-nav-width);
    width: calc(100% - var(--view-nav-width));
    min-height: calc(100% - 300px);
    height: auto;
    display: flex;
    flex-direction: column;
}

.agal-header {
    display: flex;
    width: 100%;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    margin: sass.$comp-padding-medium 0;
}

.agal-head-message {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
}

.agal-button-submit {    
    background-color: sass.$color-ice-white;
    background-image: none;
    border: 1px solid sass.$color-light-grey;
    border-radius: 4px;
    box-shadow: sass.$color-light-grey 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: sass.$color-smalt-blue;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 8px 30px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;


    &:focus {
    text-decoration: none;
    }

    &:hover {
    text-decoration: none;
    }

    &:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
    }

    &:not([disabled]):active {
    box-shadow: sass.$color-light-grey 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
    }

}

input,
select,
textarea {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;

    font-family: sass.$font-text-family;
}

.agal-visible {
    visibility: visible;
}

.agal-hidden {
    visibility: hidden;
}

.agal-anchor {
    cursor: pointer;
    font-weight: bold;
    color: var(--theme-contrast-anchor);
}

.agal-query-value {
    color: sass.$color-query-red;
    font-weight: bold;
}