<section class="artdv-admin">
    <header>
        <h1>Dashboard</h1>
    </header>
    <div class="artdv-admin-content">
        <div class="artdv-admin-option triple-outer">
            <img 
                class="artdv-admin-option-image"
                src="assets/admin/admin-gallery.jpg"
                alt="404 image not found"
                [routerLink]="'gallery'"
                [attr.aria-disabled]="true"
            >
            <div 
                class="artdv-admin-option-description"
                [routerLink]="'gallery'"
                [attr.aria-disabled]="true"
            >
                <span class="artdv-anchor">{{editLabel + ('modules.admin.options.gallery' | translate)}}</span>
            </div>
            <span class="artdv-author">
                <a href="{{authorGalleryImg}}" target="_blank">{{'shared.assets.author' | translate}}</a>
            </span>
        </div>
        <div class="artdv-admin-option triple-inner">
            <img 
                class="artdv-admin-option-image"
                src="assets/admin/admin-news.jpg"
                alt="404 image not found"
                [routerLink]="'news'"
            >
            <div 
                class="artdv-admin-option-description"
                [routerLink]="'news'"
            >
                <span class="artdv-anchor">{{editLabel + ('modules.admin.options.news' | translate)}}</span>
            </div>
            <span class="artdv-author">
                <a href="{{authorNewsImg}}" target="_blank">{{'shared.assets.author' | translate}}</a>
            </span>
        </div>
        <div class="artdv-admin-option triple-outer">
            <img 
                class="artdv-admin-option-image"
                src="assets/admin/admin-assets.jpg"
                alt="404 image not found"
                [routerLink]="'assets'"
            >
            <div 
                class="artdv-admin-option-description"
                [routerLink]="'assets'"
            >
                <span class="artdv-anchor">{{editLabel + ('modules.admin.options.assets' | translate)}}</span>
            </div>
            <span class="artdv-author">
                <a href="{{authorAssetsImg}}" target="_blank">{{'shared.assets.author' | translate}}</a>
            </span>
        </div>
    </div>
    <div
        class="artdv-admin-logout bg-pattern-grid-01"
        (click)="logout()"
        (keydown.enter)="logout()"
        [attr.aria-disabled]="true"
    >
        <div class="artdv-admin-logout-wrapper">
            <div class="artdv-admin-logout-icon">
                <i class="icon-Logout"></i>
            </div>
            <div class="artdv-admin-logout-label">
                <span>{{'modules.admin.options.logout' | translate}}</span>
            </div>
        </div>
    </div>
</section>