<div class="artdv-carousel-wrapper">
    <div class="artdv-carousel-slides" [style.transform]="getTransform()">
        <div class="artdv-carousel-slide" *ngFor="let slide of slides">
            <ng-container *ngIf="slideTemplate; else defaultTemplate">
                <ng-container *ngTemplateOutlet="slideTemplate; context: { $implicit: slide }"></ng-container>
            </ng-container>
            <ng-template #defaultTemplate>
                <div class="artdv-carousel-default-wrapper">
                    <div class="artdv-carousel-default-img">
                        <img
                            [ngClass]="(slide.referenceNr !== null && !slide.referenceNr.includes('-')) ? 'artdv-anchor' : ''"
                            *ngIf="slide.imageResized" 
                            src="{{ slide.imageResized }}" 
                            alt="404-picture-not-found"
                            [attr.aria-disabled]="true"
                            (click)="navigateToDetails(slide.referenceNr)"
                            (keydown.enter)="navigateToDetails(slide.referenceNr)"
                        >
                    </div>
                    <div class="artdv-carousel-default-text-wrapper">
                        <div class="artdv-carousel-default-text-header">
                            <h3 *ngIf="slide.title">{{ 'archive-content.' + slide.referenceNr + '.title' | translate }}</h3>
                            <span>{{slide.date | dateFormat:'dd.mm.yyyy'}}</span>
                        </div>
                        <div class="artdv-carousel-default-text-content">
                            <p *ngIf="slide.text">{{ 'archive-content.' + slide.referenceNr + '.text' | translate }}</p>
                            <a class="artdv-anchor" href="{{baseRoute.ARCHIVE}}">{{'modules.archive.nav' | translate}}</a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="artdv-carousel-arrows">
        <i 
            [attr.aria-disabled]="true"
            class="icon-Arrow artdv-arrow-left"
            (click)="prev()"
            (keydown.enter)="prev()"
        ></i>
        <i 
            [attr.aria-disabled]="true"
            class="icon-Arrow artdv-arrow-right"
            (click)="next()"
            (keydown.enter)="next()"
        ></i>
    </div>
</div>