<section class="artdv-admingallerydetail">
    <header>
        <h1>{{'modules.admin.gallery.title.' + (mode === ModeOptionEnum.CREATE ? 'create' : 'update') | translate}}</h1>
    </header>
    <div class="artdv-admin-specific-detail-content" *ngIf="!isLoadingInit">
        <form [formGroup]="artworkForm">
            <div class="artdv-admin-specific-detail-form artdv-form-genre">
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.genre' | translate) + ':*'}}</span>
                    <artdv-selectinput
                        class="artdv-admin-specific-detail-select"
                        [placeholder]="'modules.admin.gallery.placeholder-genre' | translate"
                        [fieldName]="'modules.admin.gallery.details.genre' | translate"
                        [options]="GenreOptionEnum"
                        [optionsTranslateRoot]="'shared.enum.art-genre.'"
                        [formControl]="artworkForm.get('artGenre') | controlCast"
                        (byChange)="onGenreChange($event)"
                    ></artdv-selectinput>
                </div>
            </div>
            <div class="artdv-admin-specific-detail-form artdv-form-image" *ngIf="hasGenre">
                <artdv-imgupload
                    [existingImgPath]="pathFromExistingImg"
                    [isSubmitTriggered]="onSubmitTrigger"
                    (byChange)="readFileUpload($event)"
                    (byRemove)="readRemovalInfo($event)"
                ></artdv-imgupload>
            </div>
            <div class="artdv-admin-specific-detail-form artdv-form-details" *ngIf="hasGenre">
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.title' | translate) + ':'}}</span>
                    <artdv-textinput
                        class="artdv-admin-specific-detail-text"
                        [placeholder]="'modules.admin.gallery.placeholder-title' | translate"
                        [inputType]="'text'"
                        [formControl]="artworkForm.get('title') | controlCast"
                        [fieldName]="'modules.admin.gallery.details.title' | translate"
                    ></artdv-textinput>
                </div>
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.sale-status' | translate) + ':*'}}</span>
                    <artdv-selectinput
                        class="artdv-admin-specific-detail-select"
                        [placeholder]="'modules.admin.gallery.placeholder-sale-status' | translate"
                        [fieldName]="'modules.admin.gallery.details.sale-status' | translate"
                        [options]="SaleStatusOptionEnum"
                        [optionsTranslateRoot]="'shared.enum.sale-status.'"
                        [formControl]="artworkForm.get('saleStatus') | controlCast"
                    ></artdv-selectinput>
                </div>
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.price' | translate) + ':'}}</span>
                    <artdv-textinput
                        class="artdv-admin-specific-detail-text"
                        [inputType]="'text'"
                        [placeholder]="artworkForm.get('price')?.value === null 
                            ? ('modules.admin.gallery.placeholder-price' | translate) 
                            : ''"
                        [formControl]="artworkForm.get('price') | controlCast"
                        [fieldName]="'modules.admin.gallery.details.price' | translate"
                    ></artdv-textinput>
                </div>
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.dimensions' | translate) + ':*'}}</span>
                    <artdv-textinput
                        class="artdv-admin-specific-detail-text"
                        [inputType]="'text'"
                        [placeholder]="'modules.admin.gallery.placeholder-dimensions' | translate"
                        [formControl]="artworkForm.get('dimensions') | controlCast"
                        [fieldName]="'modules.admin.gallery.details.dimensions' | translate"
                    ></artdv-textinput>
                </div>                
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.medium' | translate) + ':*'}}</span>
                    <artdv-selectinput
                        class="artdv-admin-specific-detail-select"
                        [placeholder]="'modules.admin.gallery.placeholder-medium' | translate"
                        [fieldName]="'modules.admin.gallery.details.medium' | translate"
                        [options]="MediumOptionEnum"
                        [optionsTranslateRoot]="'shared.enum.art-medium.'"
                        [formControl]="artworkForm.get('artMedium') | controlCast"
                    ></artdv-selectinput>
                </div>
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.technique' | translate) + ':*'}}</span>
                    <artdv-selectinput
                        class="artdv-admin-specific-detail-select"
                        [placeholder]="'modules.admin.gallery.placeholder-technique' | translate"
                        [fieldName]="'modules.admin.gallery.details.technique.' | translate"
                        [options]="TechniqueOptionEnum"
                        [optionsTranslateRoot]="'shared.enum.art-technique.'"
                        [formControl]="artworkForm.get('artTechnique') | controlCast"
                    ></artdv-selectinput>
                </div>
                <div class="artdv-admin-specific-detail-form-wrapper">
                    <span>{{('modules.admin.gallery.details.publication' | translate) + ':*'}}</span>
                    <artdv-textinput
                        class="artdv-admin-specific-detail-text"
                        [inputType]="'text'"
                        [placeholder]="getPublicationYearPlaceholder()"
                        [formControl]="artworkForm.get('publication') | controlCast"
                        [fieldName]="'modules.admin.gallery.details.publication' | translate"
                    ></artdv-textinput>
                </div>
            </div>
            <div class="artdv-admin-specific-detail-update-wrapper" *ngIf="lastModifiedDateTime">
                <span id="artdv-admin-specific-detail-update-label">
                    {{'modules.admin.info.last-update' | translate}}
                </span>
                <span id="artdv-admin-specific-detail-update-value">
                    {{lastModifiedDateTime}}
                </span>
            </div>
        </form>
        <div class="artdv-admin-specific-detail-form-btn">
            <button
                class="artdv-admin-specific-detail-form-btn-wrapper btn-confirm"
                (click)="onSubmit(artworkForm, artworkForm.get('imagePath')?.value, galleryApi)"
                [attr.aria-disabled]="true"
            >
                <i class="icon-Save"></i>
            </button>
            <button
                class="artdv-admin-specific-detail-form-btn-wrapper btn-cancel"
                (click)="cancel(AdminRouteEnum.GALLERY)"
                [attr.aria-disabled]="true"
            >
                <i class="icon-Return"></i>
            </button>
            <button
                class="artdv-admin-specific-detail-form-btn-wrapper btn-delete"
                *ngIf="mode === ModeOptionEnum.UPDATE"
                (click)="remove(AdminRouteEnum.GALLERY, galleryApi)"
                [attr.aria-disabled]="true"
            >
                <i class="icon-Delete"></i>
            </button>
        </div>
    </div>
    <artdv-loading-animation [ngClass]="isLoadingResponse ? 'artdv-visible' : 'artdv-hidden'"></artdv-loading-animation>
</section>