<artdv-imgfullscale 
    [imgPath]="card?.path || ''" 
    [isActive]="isFullscale"
    (fullscaleChanged)="navigateFullscale($event)"
></artdv-imgfullscale>
<section class="artdv-gallerydetails">
    <div class="artdv-gallerydetails-tools">
        <div class="artdv-detail-tools back">
            <i 
                class="icon-GoBack artdv-back-arrow"
                [attr.aria-disabled]="true"
                (click)="navigateToGallery()"
                (keydown.enter)="navigateToGallery()"
            >back</i>
        </div>
    </div>
    <div class="artdv-gallerydetails-img">
        <div class="artdv-gallerydetails-img-wrapper">
            <img 
                src="{{card?.pathResized}}" 
                alt="404-picture-not-found"
                [attr.aria-disabled]="true"
                (click)="navigateFullscale(true)"
                (keydown.enter)="navigateFullscale(true)"
            >
        </div>
    </div>
    <div class="artdv-gallerydetails-content">
        <div class="artdv-gallerydetails-property" id="card-title">
            <div class="artdv-gallerydetails-key">
                <label for="card-title">{{'modules.gallery.details.header.title' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.title === null ? '--' : 
                ('gallery-content.' + card?.referenceNr + '.title' | translate)}}</span>
            </div>
        </div>
        <div class="artdv-gallerydetails-property" id="card-referenceNr">
            <div class="artdv-gallerydetails-key">
                <label for="card-referenceNr">{{'modules.gallery.details.header.reference' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.referenceNr}}</span>
            </div>
        </div>
                
        <div class="artdv-gallerydetails-property" id="card-price">
            <div class="artdv-gallerydetails-key">
                <label for="card-price">{{'modules.gallery.details.header.price' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value" *ngIf="card?.price && card?.price !== 0">
                <span>€ {{card?.price | floatPrecision: 2}}</span>
                
            </div>
            <div class="artdv-gallerydetails-value" *ngIf="card?.price === null">
                <span class="artdv-gallerydetails-sold">{{'modules.gallery.details.content.not-available' | translate}}</span>
            </div>
            <div class="artdv-gallerydetails-value" *ngIf="card?.price === 0">
                <a
                    class="artdv-anchor"
                    [routerLink]="'/contact'"
                    [attr.aria-disabled]="true"
                    (click)="navigateToContactWithData(subject.specificInformation)"
                    (keydown.enter)="navigateToContactWithData(subject.specificInformation)"
                >{{'modules.gallery.details.content.request-price' | translate}}</a>
            </div>
        </div>
        <div class="artdv-gallerydetails-property" id="card-type">
            <div class="artdv-gallerydetails-key">
                <label for="card-type">{{'modules.gallery.details.header.type' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.price === null ? '--' : ('shared.enum.art-type.' + card?.type | translate)}}</span>
            </div>
        </div>
        <div class="artdv-gallerydetails-property" id="card-measurements">
            <div class="artdv-gallerydetails-key">
                <label for="card-measurements">{{'modules.gallery.details.header.dimensions' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.measurementsWxH === null ? '--' : card?.measurementsWxH | dimensionFormat}}</span>
            </div>
        </div>

        <!-- DIVIDER -->
        <div class="artdv-gallerydetails-divider"></div>
        <!-- DIVIDER -->
        
        <div 
            class="artdv-gallerydetails-property" 
            id="card-comment" 
            [ngClass]="card?.comment === null ? '' : 'artdv-visible'"
        >
            <div class="artdv-gallerydetails-key">
                <label for="card-comment">{{'modules.gallery.details.header.comment' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.comment === null ? '--' : '" ' + ('gallery-content.' + card?.referenceNr + '.comment' | translate) + ' "'}}</span>
            </div>
        </div>
        <div class="artdv-gallerydetails-property" id="card-technique">
            <div class="artdv-gallerydetails-key">
                <label for="card-technique">{{'modules.gallery.details.header.technique' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.technique === null ? '--' : ('shared.enum.art-technique.' + card?.technique | translate)}}</span>
            </div>
        </div>
        <div class="artdv-gallerydetails-property" id="card-year">
            <div class="artdv-gallerydetails-key">
                <label for="card-date">{{'modules.gallery.details.header.date' | translate}}:</label>
            </div>
            <div class="artdv-gallerydetails-value">
                <span>{{card?.date === null ? '--' : card?.date}}</span>
            </div>
        </div>
        <div class="artdv-gallerydetails-order" *ngIf="card?.price && card?.price !== 0">
            <button
                class="artdv-button-submit"
                [routerLink]="'/contact'"
                [attr.aria-disabled]="true"
                (click)="navigateToContactWithData(subject.artOrder)"
                (keydown.enter)="navigateToContactWithData(subject.artOrder)"
            >{{'modules.gallery.details.button' | translate}}</button>
        </div>
    </div>
</section>