@use "../../../../stylesheets/utilities" as sass;


.artdv-gallerydetails-tools {
    position: fixed;
    top: 25px;
    left: calc(var(--view-nav-width) + 25px);
    width: 60px;

    .artdv-detail-tools {
        width: 100%;
        max-height: 40px;
        border: solid 1px var(--theme-submenu-route);
        border-radius: 2.5px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back {
        height: 40px;
        line-height: 40px;
        margin-bottom: 5px;

        .artdv-back-arrow {
            color: var(--theme-submenu-route);
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            height: 100%;
        }

        &:hover {
            opacity: 0.3;
        }
    }
}

.artdv-gallerydetails-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: sass.$comp-padding-small 0;

    .artdv-gallerydetails-property {
        display: flex;
        flex-direction: row;
        margin: 10px 0;

        .artdv-gallerydetails-key {
            width: 50%;
            text-align: end;
        }

        .artdv-gallerydetails-value {
            width: 50%;
            text-align: start;
            padding: 0 15px;
        }
    }

    #card-referenceNr span {
        font-size: 14px;
    }
}

.artdv-gallerydetails-divider {
    border-top: solid 1px var(--theme-faq-activeborder);
    align-self: center;
    margin: 15px 0;
}

.artdv-gallerydetails-sold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: sass.$color-light-grey;
    padding: 2px 8px;
    border: solid 1px sass.$color-light-grey;
    border-radius: 4px;
}

.artdv-gallerydetails-order {
    align-self: center;
    margin: sass.$comp-padding-small 0 0 0;
}

/* basic structure for new frames */
.artdv-gallerydetails-img {
    display: flex;
    justify-content: center;
    background-image: url(/assets/art-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
}

$img-widthborder-wrapper: 10px;
$img-widthborder-img: 2px;
$img-widthpadding-img: 25px;

.artdv-gallerydetails-img-wrapper {
    overflow: hidden;
    position:relative;
    padding: 0;
    margin: 0 0 170px 0;
    border:solid $img-widthborder-wrapper #482b0c; 
    box-shadow:-3px -3px 12px #999;

    img {
        border:solid 70px white;
        box-shadow:-3px -3px 12px #999;
        display:block;
        background-color: #e0d6cc;
        padding: 40px $img-widthpadding-img;
        margin:0;
        border-top:solid $img-widthborder-img #aaa;
        border-left:solid $img-widthborder-img #aaa;
        border-bottom:solid $img-widthborder-img #ccc;
        border-right:solid $img-widthborder-img #ccc;
        
        cursor: zoom-in;
    }
}
