@use '../../../../stylesheets/utilities' as sass;


.artdv-admingallery-content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--view-nav-width));
    height: 100%;
    
    .artdv-admingallery-filterbar {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: sass.$space25 0;

        .artdv-admingallery-search-wrapper {
            $wrapper-width: 33%;
            display: grid;
            width: $wrapper-width;
            min-width: 150px;

            
            #artdv-admingallery-search-icon {
                position: absolute;
                display: flex;
                justify-self: end;
                padding: 2.2px 0;

                i {
                    color: var(--theme-contrast-text);
                }
            }
        }
    }

    .artdv-admingallery-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .artdv-admingallery-list-element {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            border: 2px solid var(--theme-contrast-text);
            margin: sass.$space15;
        }
    }
}