<section>
    <header>
        <h1>News archive</h1>
    </header>
    <div class="agal-head-message">
        <p>
            Hover your mouse over the image to read more on the article.
        </p>
    </div>
    <div class="agal-archive-content">
        <div class="agal-archive-entry" *ngFor="let news of newsCollection">
            @defer(on viewport) {<img src="{{ news.image }}" alt="404-picture-not-found">
            <div class="agal-archive-wrapper">                
                <div class="agal-archive-text">
                    <h3 *ngIf="news.title">{{ news.title }}</h3>
                    <span>{{news.date | dateFormat:'dd.mm.yyyy'}}</span>
                    <p *ngIf="news.text">{{ news.text }}</p>
                    <i class="icon-Zoom"></i>
                </div>
                <!-- TODO(yqni13): add fullscale img view on click -->
            </div>} 
            @placeholder {
                <img class="agal-loading" src="/assets/loading.gif" alt="loading...">
            }
        </div>
    </div>
</section>