<artdv-imgfullscale 
    [imgPath]="currentPath" 
    [isActive]="isFullscale"
    (fullscaleChanged)="navigateFullscale($event)"
></artdv-imgfullscale>
<section class="artdv-archive">
    <header>
        <h1>{{'modules.archive.title' | translate}}</h1>
    </header>
    <div class="artdv-head-message">
        <p>
            {{'modules.archive.message' | translate}}
        </p>
    </div>
    <div class="artdv-archive-content">
        <div class="artdv-archive-entry" *ngFor="let news of newsCollection">
            @defer(on viewport) { <img src="{{ news.imageResized }}" alt="404-picture-not-found">
            <div class="artdv-archive-wrapper">                
                <div class="artdv-archive-text">
                    <h3 *ngIf="news.title">{{ 'archive-content.' + news.referenceNr + '.title' | translate }}</h3>
                    <span>{{news.date | dateFormat:'dd.mm.yyyy'}}</span>
                    <p *ngIf="news.text">{{ 'archive-content.' + news.referenceNr + '.text' | translate }}</p>
                    <i class="icon-Zoom"
                        [attr.aria-disabled]="true"
                        (click)="navigateFullscale(true, news.image)"
                        (keydown.enter)="navigateFullscale(true, news.image)"
                    ></i>
                </div>
            </div> } 
            @placeholder {
                <img class="artdv-loading" src="/assets/loading.gif" alt="loading...">
            }
        </div>
    </div>
</section>