@use '../../../stylesheets/utilities' as sass;


.agal-archive-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.agal-archive-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid 2px var(--theme-submenu-route);
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    img {
        object-fit: cover;
        padding: 5px;
        
        &:hover {
            filter: blur(2px);
        }
    }

    &:hover {
        .agal-archive-wrapper {
            opacity: 1;
        }
    }
}

.agal-archive-wrapper,
img {
    transition: .5s all;
}

.agal-archive-wrapper {
    color: sass.$color-ice-white;
    opacity: 0;
    position: absolute;
    width: calc(100% - (sass.$archive-text-padding * 2));
    height: calc(100% - (sass.$archive-text-padding * 2));
    align-content: center;
    padding: sass.$archive-text-padding;
    backdrop-filter: blur(2px) brightness(0.5);
    -webkit-backdrop-filter: blur(2px) brightness(0.5);
    -moz-backdrop-filter: blur(2px) brightness(0.5);
    -o-backdrop-filter: blur(2px) brightness(0.5);

    .agal-archive-text {
        display: flex;
        flex-direction: column;
    }

    i {
        align-self: center;
        width: sass.$comp-padding-small;
        height: sass.$comp-padding-small;
        margin-top: 10px;
        cursor: pointer;
    }

    h3 {
        color: sass.$color-route-light;
        margin: 0;
    }

    span {
        font-size: 10px;
    }

    p {
        text-align: justify;
        font-size: 14px;
    }
}

.agal-loading {
    width: sass.$comp-padding-big!important;
    height: sass.$comp-padding-big!important;
    padding: 150px!important;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
